<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/logged">

<head>
    <title>AdbeBack</title>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.resize.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/plugins/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/custom/js/flotcharts.common.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.pie.js}"></script>


    <script th:inline="javascript">

        addonf.idAd = [[${idAd}]];
        addonf.statUrl = [[@{/dashboard/search(_csrf=${_csrf.token})}]];


    </script>

    <script th:src="@{/static/js/addonf/detail.js}"></script>


</head>


<body>

<div layout:fragment="menu">
    <div th:substituteby="layout/fragment/menu(activeFirstMenu=${'ads'},activeSecondMenu=${'list'})"></div>
</div>


<h4 class="innerAll bg-white margin-none" layout:fragment="formTile">
    <div class="heading-buttons innerLR">
        <div class="btn-group btn-group-xs pull-right">
            <a class="btn btn-primary" th:href="@{'/dashboard/global/'+${idAd}}" th:utext="#{addonf.dashborad.global}"><i class="fa fa-fw fa-plus-circle"></i> More details</a>
        </div>
        <h4 class="margin-none innerTB" th:text="#{addonf.dashborad.detail.title}">Statistiques Détaillées</h4>
        <div class="clearfix"></div>
    </div>
</h4>

<div layout:fragment="content">

    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Recherche</h4>
        </div>
        <div class="widget-body">

            <form role="form" method="POST" th:object="${search}">
                <div class="form-group">
                    <label for="startDate">Début</label>
                    <input type="date" class="form-control" id="startDate" th:field="*{start}"/>
                </div>
                <div class="form-group">
                    <label for="endDate">Fin</label>
                    <input type="date" class="form-control" id="endDate" th:field="*{end}"/>
                </div>


                <div class="form-group">
                    <label for="services">Service</label>
                    <select class="form-control" id="services" name="serviceId" th:field="*{serviceId}">
                        <option value="">Tous les services</option>
                        <option th:each="rule : ${rules}" th:value="${rule.id}" th:text="#{${rule.label+ ((!rule.activated)?' (Supprimer)':'')}}">Rule type</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="adViewed">Publicité vue</label>
                    <select class="form-control" id="adViewed" name="adViewedType" th:field="*{adViewedType}">
                        <option th:each="adViewed : ${adsViewed}" th:value="${adViewed}" th:text="#{${'viewed.by.'+adViewed}}">Vue et validé</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="age">Par Age</label>
                    <select class="form-control" id="age" name="ageGroups" multiple="true" th:field="*{ageGroups}">
                        <option th:each="ageGroup : ${ageGroups}" th:value="${ageGroup}" th:text="#{${'age.'+ageGroup}}">18-35 ans</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="sex">Civilité</label>
                    <select class="form-control" id="sex" name="sexes"  multiple="true" th:field="*{sexes}">
                        <option th:each="sex : ${sexes}" th:value="${sex}" th:text="#{${'sex.'+sex}}">Mr</option>
                    </select>
                </div>


                <input type="hidden"
                       th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <button class="btn btn-default" type="submit">Rechercher</button>
            </form>

        </div>
    </div>


    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Résultats :</h4>
        </div>
        <div class="widget-body">
            <div th:if="${result==null}">
                Pas de statistiques pour la recherche
            </div>
            <div th:if="${result!=null}">
                <table class="table">
                    <tr>
                        <th>Jour</th>
                        <th>Civilité</th>
                        <th>Age</th>
                        <th>Ville</th>
                        <th>question</th>
                        <th>Nb</th>
                    </tr>
                    <tr th:each="stat : ${result}">
                        <td th:text="${stat.day}"></td>
                        <td th:text="${stat.sex}"></td>
                        <td th:text="${stat.ageGroup}"></td>
                        <td th:text="${stat.city}"></td>
                        <td th:text="${stat.service.question}"></td>
                        <td th:text="${stat.nb}"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>


</div>


</body>
</html>
