<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/logged">

<head>
    <title>MTZik</title>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.js}"></script>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.resize.js}"></script>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/plugins/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/custom/js/flotcharts.common.js}"></script>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.pie.js}"></script>


    <script th:inline="javascript">

        $(function(){

            $.ajax({
                type: "POST",
                url: [[@{/stat/}]],
                data: { name: "John", location: "Boston" }
            }).done(function( msg ) {
                        alert( "Data Saved: " + msg );
            });


        });

    </script>
</head>


<body>

<div layout:fragment="menu">
    <div th:replace="layout/fragment/menu(activeFirstMenu=${'ads'},activeSecondMenu=${'list'})"></div>
</div>

<h4 class="innerAll bg-white margin-none" layout:fragment="formTile">Statistique Global</h4>

<div layout:fragment="content">
    <div th:text="${global}"></div>
    <div th:text="${validated}"></div>
</div>


</body>
</html>
