<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/logged">

<head>
    <title>MTZik</title>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.resize.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/plugins/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/custom/js/flotcharts.common.js}"></script>
    <script th:src="@{/static/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.pie.js}"></script>


    <script th:inline="javascript">

        addonf.idAd = [[${idAd}]];
        addonf.statUrl = [[@{/dashboard/realTime}]];

    </script>

    <script th:src="@{/static/js/addonf/dashboard.js}"></script>


</head>


<body>

<div layout:fragment="menu">
    <div th:substituteby="layout/fragment/menu(activeFirstMenu=${'ads'},activeSecondMenu=${'list'})"></div>
</div>


<h4 class="innerAll bg-white margin-none" layout:fragment="formTile">
    <div class="heading-buttons innerLR">
        <div class="btn-group btn-group-xs pull-right">
            <a class="btn btn-primary" th:href="@{'/dashboard/detail/'+${idAd}}" th:utext="#{addonf.dashborad.more.news}"><i class="fa fa-fw fa-plus-circle"></i> More details</a>
        </div>
        <h4 class="margin-none innerTB" th:text="#{addonf.dashborad.title}">Statistique Global</h4>
        <div class="clearfix"></div>
    </div>
</h4>

<div layout:fragment="content">

    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Nombres visualisation ce jour</h4>
        </div>
        <div class="widget-body">
            Nombre de visualisation : <span th:text="${global}"></span><br/>
            Nombre de validation : <span th:text="${validated}"></span>
        </div>
    </div>

    <div class="widget">
        <div class="widget-head">
            <h4 class="heading">Détaille par type d'affichage</h4>
        </div>
        <div class="widget-body">

            <select id="ruleSelection">
                <option value="">Sélectionner ...</option>
                <option th:each="rule : ${rules}" th:value="${rule.id}" th:text="${rule.label}">Rule type</option>
            </select>

        </div>
    </div>

    <div id="response" style="display: none;">
        <div class="widget">
            <div class="widget-head">
                <h4 class="heading">Résultats :</h4>
            </div>
            <div class="widget-body">


                <div class="row">
                    <div class="col-md-12">
                        <h4>Nombre total de vue : <span id="global">0</span></h4>
                    </div>
                    <div class="col-md-12">
                        <h4>Question : <span id="question">?</span></h4>
                    </div>

                    <div class="col-md-4">
                        <h4>Validées</h4>
                        <div id="statOk" class="flotchart-holder"></div>
                    </div>
                    <div class="col-md-4">
                        <h4>Non validées</h4>
                        <div id="statKo" class="flotchart-holder"></div>
                    </div>
                    <div class="col-md-4">
                        <h4>Pas réponse</h4>
                        <div id="statNoResponse" class="flotchart-holder"></div>
                    </div>
                </div>
                <div class="row">
                    <h4>Statistiques</h4>
                    <div id="rulesStat"></div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>
