<div class="row">
    <div class="col-md-8"><h1>Tableau de jeu :</h1></div>
    <div class="col-md-4"><h1>Score :</h1></div>
</div>

<div class="row">
    <div class="col-md-8">
        <div  ng-repeat="gooseCase in gooseCases" class="col-md-1">
            <img ng-src="{{base}}img/goose/{{gooseCase.type}}.png" style="position: absolute;"/>
            <img ng-if="gooseCase.num == token" ng-src="{{base}}img/goose/token.png" style="position: absolute;z-index: 10;max-width: 20px;"/>
            <span style="position: absolute; top: 40px;left: 5px;z-index: 11;">{{gooseCase.num}}</span>
        </div>
    </div>
    <div class="col-md-4">
        <h1>{{score}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">{{message}}</div>
</div>
<a href="#/start">rejouer</a>
