<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout"
        ng-app="adminApp">
<head>
    <title th:text="${title}">Title</title>
    <script th:inline="javascript">
        var addonf = {};
        addonf.base = [[@{/}]];
        addonf.token = [[${_csrf.token}]];
    </script>


    <script th:src="@{/lib/angular-1.2.0/angular.js}"></script>
    <script th:src="@{/lib/angular-1.2.0/angular-animate.js}"></script>
    <script th:src="@{/lib/angular-1.2.0/angular-resource.js}"></script>
    <script th:src="@{/lib/angular-1.2.0/angular-route.js}"></script>

    <script th:src="@{/lib/ui-bootstrap-0.9.0/ui-bootstrap-tpls-0.9.0.js}"></script>

    <script th:src="@{/js/application/admin.js}"></script>
    <script th:src="@{/js/controller/admin-controllers.js}"></script>
    <script th:src="@{/js/filter/filters.js}"></script>
    <script th:src="@{/js/service/admin-services.js}"></script>
</head>


<body>
<div layout:fragment="content">
    <ul class="nav nav-pills">
        <li><a th:href="@{/}">Home</a></li>
        <li class="active"><a th:href="@{/manage/gooseGame}">GooseGame admin</a></li>
    </ul>

    <div class="container">
        <ng-view></ng-view>
    </div>

</div>
</body>
</html>
