<div style="z-index:100;height: 100%;left: 0;overflow: hidden;position: absolute;top: 0;width: 100%;color: #ffffff; padding: 15px;" class="bk">

    <div class="page-title">
        <div class="container">
            <h1 class="text-center" th:utext="#{addonf.resume.title}">
                Vous ne devez pas quitter le mode pleine écran !!!
            </h1>
        </div>
    </div>

    <div class="container text-center">
        <button id="play" ng-click="resume()" class="btn btn-primary strong" style="font-size: 26px;" th:inline="text">[[#{addonf.resume}]]</button>
    </div>


</div>
