<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal-header">
    <h3>Dans quel pays voulez vous que votre publicité soit affichée ?</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <label for="countries" class="col-sm-2 control-label">Pays</label>
        <div class="col-sm-10">
            <select id="countries" ng-model="selectedCountry" ng-options="country.label for country in countries"
                    data-placeholder="Choisir un pays" chosen="countries">
                </select>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Ajouter</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
</body>
</html>