<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/logged"
        ng-app="myModule">

<head>
    <title>MTZik</title>

    <link rel="stylesheet" th:href="@{/static/css/chosen-mtzik.css}"/>
    <script th:src="@{/static/lib/chosen/chosen.jquery.min.js}"></script>

</head>


<body>

<div layout:fragment="menu">
    <div th:substituteby="layout/fragment/menu(activeFirstMenu=${'ads'},activeSecondMenu=${actionCampaign})"></div>
</div>

<h4 class="innerAll bg-white margin-none" layout:fragment="formTile" th:text="#{'addonf.'+${actionCampaign}+'.ad'}"></h4>


<div layout:fragment="content" class="col-table">

    <div class="widget" ng-controller="Step3Ctrl">

        <div class="wizard" id="rootwizard">

            <div th:substituteby="manage/ads/fragment/wizard(active=4)"></div>

            <div class="widget">

                <div class="widget-body">
                    <div class="tab-content">


                        <div class="tab-pane active">
                            <div class="separator bottom"></div>

                            <form method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <fieldset th:each="media : ${medias.displays}">
                                <h2 th:text="${media.key.name}">MTZik</h2>
                                <table class="table">
                                    <tr>
                                        <th th:text="#{enroll.media.table.service.mediaType}">Type de media</th>
                                        <th th:text="#{enroll.media.table.service.category}">Category</th>
                                        <th th:text="#{enroll.media.table.service.price}">Prix</th>
                                        <th th:text="#{enroll.media.table.service.bid}">Enchère</th>
                                    </tr>
                                    <no th:each="mediaTypeCatPrice : ${media.value}">
                                        <tr th:each="m,mStat : ${mediaTypeCatPrice.value}">
                                            <td th:if="${mStat.index == 0}" th:rowspan="${#lists.size(mediaTypeCatPrice.value)}" th:text="#{${'media.type.'+m.mediaType}}">Radio</td>
                                            <td th:text="#{${'category.'+m.category}}">category</td>
                                            <td th:text="${m.price}">0.30</td>
                                            <td>
                                                <input type="number" th:name="#{${'categoryPriceBeans['+mStat.index+'].bid'}}" th:value="${m.bid}" class="form-control" placeholder="votre enchère"/>
                                                <input type="hidden" th:name="#{${'categoryPriceBeans['+mStat.index+'].mediaType'}}" th:value="${m.mediaType}"/>
                                                <input type="hidden" th:name="#{${'categoryPriceBeans['+mStat.index+'].mediaId'}}" th:value="${media.key.id}"/>
                                                <input type="hidden" th:name="#{${'categoryPriceBeans['+mStat.index+'].category'}}" th:value="${m.category}"/>
                                            </td>
                                        </tr>
                                    </no>
                                </table>
                            </fieldset>


                            <div class="text-right innerAll border-top">
                                <div class="btn-group btn-group-sm">
                                    <a class="btn btn-default" th:href="@{'/'+${actionCampaign}+'Campaign/step3'}" th:utext="#{addonf.campaign.step4.previous}"><i class="fa fa-chevron-left"></i> Retour</a>
                                    <button type="submit" class="btn btn-primary" th:href="@{'/'+${actionCampaign}+'Campaign/step4'}" th:utext="#{addonf.campaign.step4.validate}"><i class="fa fa-fw fa-check"></i> Valider</button>
                                </div>
                            </div>

                            </form>


                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

</div>
</body>
</html>
