<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/logged"
        ng-app="myModule">

<head>
    <title>MTZik</title>

    <script th:src="@{/static/lib/angular/angular.js}"></script>
    <script th:src="@{/static/lib/angular/angular-animate.js}"></script>
    <script th:src="@{/static/lib/angular/angular-resource.js}"></script>
    <script th:src="@{/static/lib/angular/angular-route.js}"></script>

    <script th:src="@{/static/lib/angular/i18n/angular-locale_fr-fr.js}"></script>

    <script th:src="@{/static/lib/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>

    <script th:inline="javascript" th:with="df=#{${'yyyy-MM-dd'}}">
        addonf.config = {
            step1 : {
                displayAd:[[${informationCommand.displayAd.name()}]],
                startDate:Date.parse([[${#dates.format(informationCommand.startDate, df)}]]),
                endDate:Date.parse([[${#dates.format(informationCommand.endDate, df)}]])
            },
            dateFormat : [[#{date_format}]]
        };
    </script>

    <script th:src="@{/static/js/controller/campaign/step1.js}"></script>

</head>


<body>

<div layout:fragment="menu">
    <div th:substituteby="layout/fragment/menu(activeFirstMenu=${'ads'},activeSecondMenu=${actionCampaign})"></div>
</div>

<h4 class="innerAll bg-white margin-none" layout:fragment="formTile" th:text="#{'addonf.'+${actionCampaign}+'.ad'}"></h4>


<div layout:fragment="content" class="col-table">



    <div class="widget" ng-controller="Step1Ctrl">

        <div class="wizard" id="rootwizard">

            <!-- Wizard heading -->
            <div class="wizard-head">
                <ul class="bwizard-steps">
                    <li class="active"><a th:text="#{addonf.campaign.general.info}">Informations Générales</a></li>
                    <li><a th:text="#{addonf.campaign.public}">Choix du public</a></li>
                    <li><a th:text="#{addonf.campaign.adService}">Choix d'affichages</a></li>
                </ul>
            </div>
            <!-- // Wizard heading END -->

            <div class="widget">

                <div class="widget-body">
                    <div class="tab-content">

                        <!-- Step 1 -->
                        <div class="tab-pane active">

                            <form role="form" th:action="@{'/'+${actionCampaign}+'Campaign/step1'(${_csrf.parameterName}=${_csrf.token})}" th:object="${informationCommand}" method="post" enctype="multipart/form-data">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="row">
                                    <div class="col-md-6">


                                        <div th:class="${#fields.hasErrors('name')}? 'form-group has-error':'form-group'">
                                            <label for="name" class="control-label" th:text="#{addonf.campaign.name}">Nom de la campagne</label>
                                            <div >
                                                <input type="text" class="form-control" th:field="*{name}"/>
                                                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
                                            </div>
                                        </div>

                                        <div th:class="${#fields.hasErrors('displayAd')}? 'form-group has-error':'form-group'">
                                            <div class="row">
                                                <div class="col-md-4" style="padding-top:18px">
                                                    <label class="checkbox-inline" th:inline="text">
                                                        <input type="radio" value="VIDEO" th:field="*{displayAd}" ng-model="model.displayAd"/>
                                                        [[#{addonf.campaign.video.label}]]
                                                    </label>
                                                    <label class="checkbox-inline" th:inline="text">
                                                        <input type="radio" value="STATIC" th:field="*{displayAd}" ng-model="model.displayAd"/>
                                                        [[#{addonf.campaign.image.label}]]
                                                    </label>
                                                </div>
                                                <div id="durationBlock" ng-show="model.displayAd == 'STATIC'"  th:class="${#fields.hasErrors('displayDuration')}? 'form-group has-error col-md-8':'form-group col-md-8'">
                                                    <label for="adFile" class="control-label" th:text="#{addonf.campaign.display.duration}">Durée d'affichage de l'image en secondes</label>
                                                    <div class="input-group">
                                                        <input class="form-control" type="number" th:field="*{displayDuration}"/>
                                                        <span class="help-block" th:if="${#fields.hasErrors('displayDuration')}" th:errors="*{displayDuration}">Error</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div th:class="${#fields.hasErrors('adFile')}? 'form-group has-error':'form-group'">
                                            <label for="adFile" class="control-label" th:text="#{addonf.campaign.adFile}">Média</label>
                                            <div>
                                                <input type="file" id="adFile"  th:field="*{adFile}" accept='{{getAcceptedMedia(model.displayAd)}}' />
                                                <span class="help-block" th:if="${#fields.hasErrors('adFile')}" th:errors="*{adFile}">Error</span>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">

                                        <div th:class="${#fields.hasErrors('initialAmonut')}? 'form-group has-error':'form-group'">
                                            <label for="amount" class="control-label" th:text="#{'addonf.campaign.initialAmount.'+${actionCampaign}}">Montant max.</label>

                                            <div class="input-group col-md-4">
                                                <span class="input-group-addon">&euro;</span>
                                                <input type="number" class="form-control" id="amount"  th:field="*{initialAmonut}"/>
                                                <span class="help-block" th:if="${#fields.hasErrors('initialAmonut')}" th:errors="*{initialAmonut}">Error</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div th:class="${#fields.hasErrors('startDate')}? 'form-group has-error':'form-group'">
                                                    <label for="startDate" class="control-label" th:text="#{addonf.campaign.startDate}" ng-readonly="cannotChangeStartDate">Date de début</label>
                                                    <div class="input-group ">
                                                        <input id="startDate" name="startDate" type="text" class="form-control" min="minDate" datepicker-popup="{{format}}" ng-model="model.startDate" is-open="startDatepicker.opened"  close-text="Fermer" show-button-bar="false" readonly="true"/>
                                                        <div class="input-group-btn"><button  type="button" class="btn" ng-click="openDate(startDatepicker)"><i class="glyphicon glyphicon-calendar"></i></button></div>
                                                    </div>
                                                    <span class="help-block" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Error</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div th:class="${#fields.hasErrors('endDate')}? 'form-group has-error':'form-group'">
                                                    <label for="endDate" class="control-label" th:text="#{addonf.campaign.endDate}">Date de fin</label>

                                                    <div class="input-group">
                                                        <input id="endDate" name="endDate" type="text" class="form-control" min="minDate" datepicker-popup="{{format}}" ng-model="model.endDate" is-open="endDatepicker.opened"  close-text="Fermer" show-button-bar="false" readonly="true"/>
                                                        <div class="input-group-btn"><button type="button" class="btn" ng-click="openDate(endDatepicker)"><i class="glyphicon glyphicon-calendar"></i></button></div>
                                                    </div>
                                                    <span class="help-block" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Error</span>

                                                </div>
                                            </div>
                                        </div>






                                    </div>
                                </div>

                                <div class="text-right innerAll border-top">
                                    <div class="btn-group btn-group-sm">
                                        <button type="submit" class="btn btn-primary" th:utext="#{addonf.campaign.next}"><i class="fa fa-fw fa-check"></i> Suivant</button>
                                    </div>
                                </div>

                            </form>



                        </div>
                        <!-- // Step 1 END -->

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
