<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Admin annonceur</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>


    <!-- 
    **********************************************************
    In development, use the LESS files and the less.js compiler
    instead of the minified CSS loaded by default.
    **********************************************************
    <link rel="stylesheet/less" href="../assets/less/admin/module.admin.page.dashboard_analytics.sidebar_type.discover.less" />
    -->

    <link rel="stylesheet" th:href="@{/coral/assets/components/library/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/coral/assets/css/admin/module.admin.page.dashboard_analytics.sidebar_type.discover.min.css}"/>


    <script th:src="@{/coral/assets/components/library/jquery/jquery.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/jquery/jquery-migrate.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/modernizr/modernizr.js}"></script>
    <script th:src="@{/coral/assets/components/plugins/less-js/less.min.js}"></script>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js}"></script>
    <script th:src="@{/coral/assets/components/plugins/browser/ie/ie.prototype.polyfill.js}"></script>

</head>
<body>

<!-- Main Container Fluid -->
<div class="container-fluid menu-hidden menu-right-hidden">

<!-- Main Sidebar Menu -->
<div id="menu" class="hidden-print hidden-xs sidebar-blue">

    <div id="sidebar-discover-wrapper">
        <div id="logoWrapper">
            <a href="index.html?lang=en" id="logo" class="animated fadeInDown"><img th:src="@{/coral/assets/images/logo/app-logo-style-default.png}"/></a>
        </div>
        <ul class="list-unstyled">

            <li>
                <a href="#sidebar-discover-example" data-toggle="sidebar-discover"><span
                        class="badge pull-right badge-primary">7</span><i class="fa fa-stack-exchange"></i><span>Submenus</span></a>

                <div id="sidebar-discover-example" class="sidebar-discover-menu">
                    <div class="innerAll text-center border-bottom text-white animated pulse">
                        <strong>Submenu example</strong>
                    </div>
                    <ul class="animated fadeIn">
                        <li class="active"><a href=""><i class="fa fa-flash"></i> Active</a></li>
                        <li><a href=""><i class="fa fa-male"></i> Menu item</a></li>
                        <li><a href=""><i class="fa fa-comments-o"></i> Menu item</a></li>
                        <li class="hasSubmenu">
                            <a href="#submenu" data-toggle="collapse"><span
                                    class="badge pull-right badge-primary">30</span><i class="fa fa-envelope"></i> 2nd
                                level</a>
                            <ul class="collapse" id="submenu">
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                                <li><a href="">Menu item</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="active"><a href="dashboard_analytics.html?lang=en"><i
                    class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li>
                <a href="#sidebar-discover-account" data-toggle="sidebar-discover" class="glyphicons user"><i></i><span>Account</span></a>

                <div id="sidebar-discover-account" class="sidebar-discover-menu">
                    <div class="innerAll text-center border-bottom text-white animated pulse">
                        <strong>Account</strong>
                    </div>
                    <ul class="animated fadeIn">
                        <li><a href="login.html?lang=en"><i class="fa fa-lock"></i> Login</a></li>
                        <li><a href="signup.html?lang=en"><i class="fa fa-pencil"></i> Signup</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="profile_resume.html?lang=en"><i class="fa fa-download"></i><span>Profile / CV</span></a></li>
            <li><a href="landing.html?lang=en"><i class="fa fa-share"></i><span>Landing</span></a></li>
            <li><a href="employees.html?lang=en" class="glyphicons group"><i></i><span>Employees</span></a></li>
            <li><a href="error.html?lang=en" class="glyphicons warning_sign"><i></i><span>Error</span></a></li>
            <li><a href="ui.html?lang=en" class="glyphicons adjust_alt"><i></i><span>Elements</span></a></li>
        </ul>
    </div>


</div>
<!-- // Main Sidebar Menu END -->

<!-- Main Sidebar Menu -->
<!-- // Main Sidebar Menu END -->

<!-- Content -->
<div id="content">


<div class="navbar hidden-print navbar-inverse box main" role="navigation">
    <div class="user-action user-action-btn-navbar pull-left border-right">
        <button class="btn btn-sm btn-navbar btn-primary btn-stroke"><i class="fa fa-bars fa-2x"></i></button>
    </div>
    <div class="col-md-3 padding-none visible-md visible-lg">
        <div class="input-group innerLR">
            <input type="text" class="form-control input-sm" placeholder="Search stories ..." />
      		<span class="input-group-btn">
        		<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
      		</span>
        </div>
        <!-- /input-group -->
    </div>

    <div class="user-action visible-xs user-action-btn-navbar pull-right">
        <button class="btn btn-sm btn-navbar-right btn-primary"><i class="fa fa-fw fa-arrow-right"></i><span
                class="menu-left-hidden-xs"> Modules</span></button>
    </div>
    <div class="user-action pull-right menu-right-hidden-xs menu-left-hidden-xs">
        <div class="dropdown username hidden-xs pull-left">
            <a class="dropdown-toggle " data-toggle="dropdown" href="#">
				<span class="media margin-none">
					<span class="pull-left"><img src="../assets/images/people/35/16.jpg" alt="user" class="img-circle" /></span>
					<span class="media-body">
						Adrian Demian <span class="caret"></span>
					</span>
				</span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="index.html?lang=en" class="glyphicons user"><i></i> Profile</a></li>
                <li><a href="timeline.html?lang=en" class="glyphicons list"><i></i>Timeline</a></li>
                <li><a href="social_messages.html?lang=en" class="glyphicons envelope"><i></i>Messages</a></li>
                <li><a href="social_account.html?lang=en">Settings</a></li>
                <li><a href="login.html?lang=en">Logout</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-icons padding-none">
            <a data-toggle="dropdown" href="#" class="btn btn-primary btn-circle dropdown-toggle"><i
                    class="fa fa-user"></i> </a>
            <ul class="dropdown-menu">
                <li data-toggle="tooltip" data-title="Photo Gallery" data-placement="left" data-container="body"><a
                        href="gallery_photo.html?lang=en"><i class="fa fa-camera"></i></a></li>
                <li data-toggle="tooltip" data-title="Tasks" data-placement="left" data-container="body"><a
                        href="tasks.html?lang=en"><i class="fa fa-code-fork"></i></a></li>
                <li data-toggle="tooltip" data-title="Employees" data-placement="left" data-container="body"><a
                        href="employees.html?lang=en"><i class="fa fa-group"></i></a></li>
                <li data-toggle="tooltip" data-title="Contacts" data-placement="left" data-container="body"><a
                        href="contacts.html?lang=en"><i class="fa fa-phone-square"></i></a></li>
            </ul>
        </div>
    </div>
    <ul class="notifications pull-right hidden-xs">
        <li class="dropdown notif">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="notif-block fa fa-comments-o"></i><span
                    class="badge badge-primary">7</span></a>
            <ul class="dropdown-menu chat media-list">
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object thumb"
                                                       src="../assets/images/people/100/15.jpg" alt="50x50" width="50"/></a>

                    <div class="media-body">
                        <span class="label label-default pull-right">5 min</span>
                        <h5 class="media-heading">Adrian D.</h5>

                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object thumb"
                                                       src="../assets/images/people/100/16.jpg" alt="50x50" width="50"/></a>

                    <div class="media-body">
                        <span class="label label-default pull-right">2 days</span>
                        <h5 class="media-heading">Jane B.</h5>

                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#"><img class="media-object thumb"
                                                       src="../assets/images/people/100/17.jpg" alt="50x50" width="50"/></a>

                    <div class="media-body">
                        <span class="label label-default pull-right">3 days</span>
                        <h5 class="media-heading">Andrew M.</h5>

                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </li>
                <li><a href="#" class="btn btn-primary"><i class="fa fa-list"></i> <span>View all messages</span></a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- // END navbar -->



<div class="layout-app">

<div class="row row-app">
<div class="col-md-12">
<div class="col-separator col-separator-first col-unscrollable bg-none">
<div class="col-table" layout:fragment="content"></div>

</div>
</div>
</div>


</div>
</div>
<!-- // Content END -->

<div class="clearfix"></div>
<!-- // Sidebar menu & content wrapper END -->

<!-- Footer -->
<div id="footer" class="hidden-print">

    <!--  Copyright Line -->
    <div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a
            href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase CORAL on ThemeForest</a> - Current
        version: v1.9.3 / <a target="_blank" href="../assets/../../CHANGELOG.txt">changelog</a></div>
    <!--  End Copyright Line -->

</div>
<!-- // Footer END -->


</div>
<!-- // Main Container Fluid END -->


<!-- Global -->
<script>
    var basePath = '',
            commonPath = '../assets/',
            rootPath = '../',
            DEV = false,
            componentsPath = '../assets/components/';

    var primaryColor = '#eb6a5a',
            dangerColor = '#b55151',
            successColor = '#609450',
            infoColor = '#4a8bc2',
            warningColor = '#ab7a4b',
            inverseColor = '#45484d';

    var themerPrimaryColor = primaryColor;
</script>

<script th:src="@{/coral/assets/components/library/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/coral/assets/components/plugins/nicescroll/jquery.nicescroll.min.js}"></script>
<script th:src="@{/coral/assets/components/plugins/breakpoints/breakpoints.js}"></script>
<script th:src="@{/coral/assets/components/core/js/animations.init.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.resize.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/plugins/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/custom/js/flotcharts.common.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/custom/js/flotchart-line-2.init.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/custom/js/flotchart-bars-horizontal.init.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/custom/js/flotchart-mixed-1.init.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/charts/sparkline/sparkline.init.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/maps/vector/assets/lib/jquery-jvectormap-1.2.2.min.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/maps/vector/assets/lib/maps/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/coral/assets/components/modules/admin/maps/vector/assets/custom/maps-vector.world-map-markers.init.js}"></script>
<script th:src="@{/coral/assets/components/core/js/sidebar.main.init.js}"></script>
<script th:src="@{/coral/assets/components/core/js/sidebar.discover.init.js}"></script>
<script th:src="@{/coral/assets/components/core/js/core.init.js}"></script>
</body>
</html>