<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/unlogged">
<head>
    <title>AdbeBack</title>

</head>


<body>
<div layout:fragment="content">
    <div th:text="#{enrolled.explain}">
        Vous êtes maintenant enrollé, Vous allez recevoir un mail de confirmation.
    </div>

</div>
</body>
</html>
