<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/logged">

<head>
<title th:text="${title}">Title</title>

</head>


<body>

<div layout:fragment="menu">
    <div th:replace="layout/fragment/menu(activeFirstMenu=${'home'},activeSecondMenu=${''})"></div>
</div>

    <div layout:fragment="content" class="col-table">
        <div class="container text-center" th:text="#{home.explain}">
            Espace de gestion de compte
        </div>
    </div>
</body>
</html>
