<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/frontend/index">
<head>
    <title>Acceuil</title>
</head>
<body th:with="activeMenu=${'home'}">

<th:block layout:fragment="content">
    <div class="row margin-bottom-40 padding-top-40 content">
        <h1 class="text-center">Page en construction</h1>
    </div>
</th:block>

<!--<th:block layout:fragment="page-slider"></th:block>
<th:block layout:fragment="service-box"></th:block>
<th:block layout:fragment="quote-v1"></th:block>
<th:block layout:fragment="recent-work"></th:block>
<th:block layout:fragment="mix-block"></th:block>
<th:block layout:fragment="step"></th:block>
<th:block layout:fragment="customer"></th:block>-->

</body>
</html>