<html xmlns:th="http://www.thymeleaf.org">
<body>

<ol class="breadcrumb">
    <li>Informations général</li>
    <li>Produit présenté</li>
    <li class="active">Choix du public</li>
    <li>Choix d'affichage</li>
</ol>
<div class="btn-group">
    <button type="button" class="btn btn-danger">Restrictions disponibles</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a ng-click="addCountryRule()">Restriction par pays</a></li>
        <li><a ng-click="addCityRule()">Restriction par ville</a></li>
        <li><a ng-show="!alreadySex"  ng-click="addSexRule()">Restriction par sex</a></li>
        <li><a ng-show="!alreadyAge"  ng-click="addAgeRule()">Restriction par Age</a></li>
    </ul>
</div>


<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Type</th>
            <th>Règle</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="countryRule in model.rules.countryRules">
            <td>Pays</td>
            <td>{{drawCountryRule(countryRule)}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeCountryRule(countryRule)">Supprimer</button>
            </td>
        </tr>
        <tr ng-repeat="cityRule in model.rules.cityRules">
            <td>Ville</td>
            <td>{{drawCityRule(cityRule)}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeCityRule(cityRule)">Supprimer</button>
            </td>
        </tr>
        <tr ng-if="model.rules.sexRule !=null">
            <td>Sex</td>
            <td>{{drawSexRule(model.rules.sexRule)}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeSexRule(model.rules.sexRule)">Supprimer</button>
            </td>
        </tr>
        <tr ng-if="model.rules.ageRule != null">
            <td>Pays</td>
            <td>{{drawAgeRule(model.rules.ageRule)}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeAgeRule(model.rules.ageRule)">Supprimer</button>
            </td>
        </tr>

    </table>

    <form class="form-horizontal" role="form" ng-submit="submit()">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Suivant</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>