<html xmlns:th="http://www.thymeleaf.org">
<body>
<ol class="breadcrumb">
    <li>Informations général</li>
    <li>Produit présenté</li>
    <li>Choix du public</li>
    <li class="active">Choix d'affichage</li>
</ol>

<div class="btn-group">
    <button type="button" class="btn btn-danger">Produits d'affichage disponibles</button>
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a ng-click="addBrandRule()">Affichage par logo</a></li>
        <li><a ng-click="addProductRule()">Affichage par produits</a></li>
        <li><a ng-click="addOpenRule()">Affichage personnalisé</a></li>
    </ul>
</div>


<div class="container">
    <table class="table table-striped">
        <tr>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="brandRule in model.adServices.brandRules">
            <td>Logo</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeBrandRule(brandRule)">Supprimer</button>
            </td>
        </tr>
        <tr ng-repeat="productRule in model.adServices.productRules">
            <td>Produits</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeProductRule(productRule)">Supprimer</button>
            </td>
        </tr>
        <tr ng-repeat="openRule in model.adServices.openRules">
            <td>Personnalisé</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="removeOpenRule(openRule)">Supprimer</button>
            </td>
        </tr>
    </table>

    <form class="form-horizontal" role="form" ng-submit="submit()">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Suivant</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>