<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/logged"
        ng-app="myModule">

<head>
    <title th:text="${title}">Title</title>

    <script th:src="@{/lib/angular-1.2.0/angular.js}"></script>
    <script th:src="@{/lib/angular-1.2.0/angular-animate.js}"></script>
    <script th:src="@{/lib/angular-1.2.0/angular-resource.js}"></script>
    <script th:src="@{/lib/angular-1.2.0/angular-route.js}"></script>

    <script th:src="@{/lib/ui-bootstrap-0.9.0/ui-bootstrap-tpls-0.9.0.js}"></script>




    <script th:inline="javascript" th:with="df=#{date_format}">

        angular.module('myModule', ['ui.bootstrap']);


        var Step1Ctrl = function($scope) {
            $scope.format = "dd/MM/yyyy";

            $scope.model = {
                displayAd:[[${informationCommand.displayAd.name()}]],
                startDate:Date.parse([[${#dates.format(informationCommand.startDate, df)}]]),
                endDate:Date.parse([[${#dates.format(informationCommand.endDate, df)}]])
            };



            $scope.startDatepicker = {
                opened : false
            };

            $scope.endDatepicker = {
                opened : false
            };

            $scope.getAcceptedMedia = function(typeMedia){
                if("VIDEO"==typeMedia){
                    return "video/*";
                }else if("STATIC"==typeMedia){
                    return "image/*";
                }
            }
        }
    </script>
</head>


<body>

<div layout:fragment="menu">
    <div th:replace="layout/fragment/menu(activeFirstMenu=${'ads'},activeSecondMenu=${'create'})"></div>
</div>

<h4 class="innerAll bg-white margin-none" layout:fragment="formTile" th:text="#{addonf.create.ad}"></h4>


<div layout:fragment="content" class="col-table">



    <div class="widget" ng-controller="Step1Ctrl">

        <div class="wizard" id="rootwizard">

            <!-- Wizard heading -->
            <div class="wizard-head">
                <ul class="bwizard-steps">
                    <li class="active"><a>Informations Générales</a></li>
                    <li><a>Choix du public</a></li>
                    <li><a>Choix d'affichages</a></li>
                </ul>
            </div>
            <!-- // Wizard heading END -->

            <div class="widget">

                <div class="widget-body">
                    <div class="tab-content">

                        <!-- Step 1 -->
                        <div class="tab-pane active">

                            <form role="form" th:action="@{/createCampaign/step1(${_csrf.parameterName}=${_csrf.token})}" th:object="${informationCommand}" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">


                                        <div th:class="${#fields.hasErrors('name')}? 'form-group has-error':'form-group'">
                                            <label for="name" class="control-label">Nom de la campagne</label>
                                            <div >
                                                <input type="text" class="form-control" th:field="*{name}"/>
                                                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
                                            </div>
                                        </div>

                                        <div th:class="${#fields.hasErrors('displayAd')}? 'form-group has-error':'form-group'">
                                            <div class="row">
                                                <div class="col-md-4" style="padding-top:18px">
                                                    <label class="checkbox-inline">
                                                        <input type="radio" value="VIDEO" th:field="*{displayAd}" ng-model="model.displayAd"/>
                                                        Vidéo
                                                    </label>
                                                    <label class="checkbox-inline">
                                                        <input type="radio" value="STATIC" th:field="*{displayAd}" ng-model="model.displayAd"/>
                                                        Image
                                                    </label>
                                                </div>
                                                <div class="col-md-8" id="durationBlock" ng-show="model.displayAd == 'STATIC'">
                                                    <label for="adFile" class="control-label">Durée d'affichage de l'image en secondes</label>
                                                    <div class="input-group">
                                                        <input class="form-control" type="number" th:field="*{displayDuration}"/>
                                                        <span class="help-block" th:if="${#fields.hasErrors('displayDuration')}" th:errors="*{displayDuration}">Error</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                        <div th:class="${#fields.hasErrors('adFile')}? 'form-group has-error':'form-group'">
                                            <label for="adFile" class="control-label">Média</label>
                                            <div>
                                                <input type="file" id="adFile"  th:field="*{adFile}" accept='{{getAcceptedMedia(model.displayAd)}}' />
                                                <span class="help-block" th:if="${#fields.hasErrors('adFile')}" th:errors="*{adFile}">Error</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">

                                        <div th:class="${#fields.hasErrors('initialAmonut')}? 'form-group has-error':'form-group'">
                                            <label for="amount" class="control-label">Montant max.</label>

                                            <div class="input-group col-md-4">
                                                <span class="input-group-addon">€</span>
                                                <input type="number" class="form-control" id="amount"  th:field="*{initialAmonut}"/>
                                                <span class="help-block" th:if="${#fields.hasErrors('initialAmonut')}" th:errors="*{initialAmonut}">Error</span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div th:class="${#fields.hasErrors('startDate')}? 'form-group has-error':'form-group'">
                                                    <label for="startDate" class="control-label">Date de début</label>
                                                    <div class="input-group ">
                                                        <input id="startDate" name="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.startDate" is-open="startDatepicker.opened"  close-text="Fermer" />
                                                        <div class="input-group-btn"><button class="btn" ng-click="openDate(startDatepicker)"><i class="glyphicon glyphicon-calendar"></i></button></div>
                                                        <span class="help-block" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Error</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div th:class="${#fields.hasErrors('endDate')}? 'form-group has-error':'form-group'">
                                                    <label for="endDate" class="control-label">Date de fin</label>

                                                    <div class="input-group">
                                                        <input id="endDate" name="endDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.endDate" is-open="endDatepicker.opened"  close-text="Fermer" />
                                                        <div class="input-group-btn"><button class="btn" ng-click="openDate(endDatepicker)"><i class="glyphicon glyphicon-calendar"></i></button></div>
                                                        <span class="help-block" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Error</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>






                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-sm-offset-11">
                                        <button type="submit" class="btn btn-default btn-primary">Suivant</button>
                                    </div>
                                </div>
                            </form>



                        </div>
                        <!-- // Step 1 END -->

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
