<html xmlns:th="http://www.thymeleaf.org">
<body>



<div class="widget">

    <div class="wizard" id="rootwizard">

        <!-- Wizard heading -->
        <div class="wizard-head">
            <ul class="bwizard-steps">
                <li class="active"><a>Informations Générales</a></li>
                <li><a>Choix du public</a></li>
                <li><a>Choix d'affichages</a></li>
            </ul>
        </div>
        <!-- // Wizard heading END -->

        <div class="widget">

            <div class="widget-body">
                <div class="tab-content">

                    <!-- Step 1 -->
                    <div class="tab-pane active">

                        <form role="form" ng-submit="submit()">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name" class="control-label">Nom de la campagne</label>
                                        <div >
                                            <input type="text" class="form-control" id="name" ng-required="true" ng-model="model.information.name"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4" style="padding-top:18px">
                                                <label class="checkbox-inline">
                                                    <input type="radio" value="VIDEO" ng-model="model.information.displayAd"/>
                                                    Vidéo
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="radio" value="STATIC" ng-model="model.information.displayAd"/>
                                                    Image
                                                </label>
                                            </div>
                                            <div class="col-md-8" ng-show="model.information.displayAd == 'STATIC'">
                                                <label for="adFile" class="control-label">Durée d'affichage de l'image en secondes</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" id="displayDuration" ng-model="model.information.displayDuration"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label for="adFile" class="control-label">Média</label>
                                        <div>
                                            <input type="file" id="adFile" ng-required="true" ng-file-select="onFileSelect($files)" accept='{{getAcceptedMedia(model.information.displayAd)}}'/>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="amount" class="control-label">Montant max.</label>

                                        <div class="input-group col-md-4">
                                            <span class="input-group-addon">€</span>
                                            <input type="number" class="form-control" id="amount"  ng-required="true" ng-model="model.information.initialAmonut"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="startDate" class="control-label">Date de début</label>
                                                <div class="input-group ">
                                                    <input id="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.information.startDate" is-open="startDatepicker.opened"  datepicker-options="dateOptions"  ng-required="true" close-text="Fermer" />
                                                    <div class="input-group-btn"><button class="btn" ng-click="openDate(startDatepicker)"><i class="glyphicon glyphicon-calendar"></i></button></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="endDate" class="control-label">Date de fin</label>

                                                <div class="input-group">
                                                    <input id="endDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="model.information.endDate" is-open="endDatepicker.opened"  datepicker-options="dateOptions"  ng-required="true" close-text="Fermer" />
                                                    <div class="input-group-btn"><button class="btn" ng-click="openDate(endDatepicker)"><i class="glyphicon glyphicon-calendar"></i></button></div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>






                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-11">
                                    <button type="submit" class="btn btn-default btn-primary">Suivant</button>
                                </div>
                            </div>
                        </form>



                    </div>
                    <!-- // Step 1 END -->

                </div>


            </div>
        </div>
    </div>

</div>
</body>
</html>