<html xmlns:th="http://www.thymeleaf.org">
<body>

<ol class="breadcrumb">
    <li>Informations général</li>
    <li class="active">Produit présenté</li>
    <li>Choix du public</li>
    <li>Choix d'affichage</li>
</ol>

<div class="container">
    <form class="form-horizontal" role="form" ng-submit="submit()">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Nom du produit</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" ng-required="true" ng-model="model.product.name"/>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" ng-model="model.product.description"/>
            </div>
        </div>


        <div class="form-group">
            <label for="logo" class="col-sm-2 control-label">Image du produit</label>
            <div class="col-sm-4">
                <input type="file" id="logo" ng-required="true" ng-file-select="onFileSelect($files)" accept="image/*"/>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Suivant</button>
            </div>
        </div>
    </form>
</div>


</body>
</html>