<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/corporate/unlogged">
<head>
    <title>Inscription</title>

    <script th:src="@{/static/lib/plupload-2.1.1/js/plupload.full.min.js}" type="text/javascript"/>
    <script th:src="@{/static/lib/plupload-2.1.1/js/i18n/fr.js}" type="text/javascript"/>

    <script type="text/javascript">
        $(function(){
            Spring.addDecoration(
                    new Spring.AjaxEventDecoration({formId:'formAttachmentInfo',elementId:'continue',event:'onclick'}));
            Spring.addDecoration(
                    new Spring.AjaxEventDecoration({formId:'formAttachmentInfo',elementId:'back',event:'onclick'}));
        });
    </script>


    <script th:inline="javascript">
        $(function(){
            var files = [[${files}]];

            var uploader = new plupload.Uploader({
                runtimes : 'html5,flash,silverlight,html4',

                browse_button : 'pickup_CID', // you can pass in id...
                container: document.getElementById('container_CID'), // ... or DOM Element itself

                url : [[@{/uploadAttachement/CID(_csrf=${_csrf.token})}]],

                filters : {
                    max_file_size : '1.5mb',
                    mime_types: [
                        {title : "Fichier Image", extensions : "jpg,gif,png"},
                        {title : "Document", extensions : "pdf,doc,docx"}
                    ]
                },

                // Flash settings
                flash_swf_url : [[@{/static/lib/plupload-2.1.1/js/Moxie.swf}]],

                // Silverlight settings
                silverlight_xap_url : [[@{/static/lib/plupload-2.1.1/js/Moxie.xap}]],


                init: {
                    PostInit: function() {

                    },

                    FilesAdded: function(up, files) {
                        plupload.each(files, function(file) {
                            document.getElementById('indicate_CID').innerHTML = file.name;
                            uploader.start();
                            $("#progress_CID").show();
                        });
                    },

                    UploadProgress: function(up, file) {
                        var progress = $("#progress_CID");
                        progress.find(".progress-bar").attr("aria-valuenow",file.percent);
                        progress.find("span").html(file.percent + "%");
                        //document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                    },

                    FileUploaded : function(up, file) {
                        $("#progress_CID").hide();
                    },

                    Error: function(up, err) {
                        //document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
                    }
                }
            });

            uploader.init();

        });
    </script>
</head>
<body>

<div layout:fragment="content">
    <div th:substituteby="enroll/agency/fragment/breadcrumb(active=${activeId})"></div>
    <div class="container margin-bottom-40">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 login-signup-page">
                <form id="formAttachmentInfo" th:action="@{${flowExecutionUrl}(_csrf=${_csrf.token})}" enctype="multipart/form-data" method="post" class="form-horizontal" role="form" autocomplete="off">

                    <h2 th:utext="#{enroll.agency.attachement.explain}">Text explicatif : A rédiger</h2>

                    <div class="form-group" th:each="file,fileStat : ${files}" th:id="#{'container_'+${file}}">
                        <label th:for="${file}" th:text="#{'file.'+${file}}">File input</label>
                        <div class="input-group">
                            <span class="input-group-addon" th:utext="#{'status.file.'+${filesStatus[__${file}__]}}">OK</span>
                            <span class="form-control" th:id="#{'indicate_'+${file}}"></span>
                            <span class="input-group-btn">
                                <bouton class="btn btn-default" th:id="#{'pickup_'+${file}}">Selectionner un fichier</bouton>
                            </span>
                        </div>
                        <div class="progress" style="display: none;" th:id="#{'progress_'+${file}}">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>0%</span>
                            </div>
                        </div>
                    </div>


                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="row">
                        <div class="col-md-12 form-actions right">
                            <input type="submit" id="back" name="_eventId_back" th:value="#{btn.back}" class="btn default"/>
                            <input type="submit" id="continue" name="_eventId_submit" th:value="#{btn.next}" class="btn blue"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>