<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/corporate/unlogged">
<head>
    <title>Inscription</title>

    <script th:src="@{/static/lib/plupload/js/plupload.full.min.js}" type="text/javascript"/>
    <script th:src="@{/static/lib/plupload/js/i18n/fr.js}" type="text/javascript"/>

    <script th:src="@{/static/js/addonf/attachement.js}" type="text/javascript"/>

    <script type="text/javascript">
        $(function(){
            Spring.addDecoration(
                    new Spring.AjaxEventDecoration({formId:'formAttachmentInfo',elementId:'continue',event:'onclick'}));
            Spring.addDecoration(
                    new Spring.AjaxEventDecoration({formId:'formAttachmentInfo',elementId:'back',event:'onclick'}));
        });
    </script>


    <script th:inline="javascript">
        $(function(){

            var options = {
                files : [[${files}]],
                strStatusPresent : [[#{'status.file.PRESENT'}]],
                strStatusNoPresent : [[#{'status.file.NO_PRESENT'}]],
                flash_swf_url : [[@{/static/lib/plupload/js/Moxie.swf}]],
                silverlight_xap_url : [[@{/static/lib/plupload/js/Moxie.xap}]],
                url : [[@{/uploadAttachement/_fileId(_csrf=${_csrf.token})}]],
                errors : {
                    "format":[[#{'error.file.format'}]],
                    "size":[[#{'error.file.size'}]]
                }
            };

            new Addonf.Enroll.attachement(options);


        });
    </script>
</head>
<body>

<div layout:fragment="content">
    <div th:substituteby="enroll/agency/fragment/breadcrumb(active=${activeId})"></div>
    <div class="container margin-bottom-40">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 login-signup-page">
                <form id="formAttachmentInfo" th:action="${flowExecutionUrl}" method="post" class="form-horizontal" role="form" autocomplete="off">

                    <h2 th:utext="#{${'enroll.'+state.registration+'.attachement.title'}}">Text explicatif : A rédiger</h2>
                    <p th:utext="#{${'enroll.'+state.registration+'.attachement.explain'}}">Text explicatif : A rédiger</p>

                    <div class="form-group" th:each="file,fileStat : ${files}" th:id="#{'container_'+${file}}">
                        <label th:for="${file}" th:inline="text" >[[#{'file.'+${file}}]]<span th:if="${#lists.contains(requiredFiles, file)}">*</span></label>
                        <div class="input-group">

                            <span class="input-group-addon" th:if="${#strings.isEmpty(filesStatus[__${file}__]) == false}"  th:id="#{'status_'+${file}}"><span class="glyphicon glyphicon-ok"></span></span>
                            <span class="input-group-addon" th:if="${#strings.isEmpty(filesStatus[__${file}__]) == true}" th:id="#{'status_'+${file}}"><span class="glyphicon glyphicon-remove"></span></span>

                            <span class="form-control" th:id="#{'indicate_'+${file}}" th:text="${filesStatus[__${file}__]}"></span>
                            <span class="input-group-btn">
                                <bouton class="btn btn-default" th:id="#{'pickup_'+${file}}">Selectionner un fichier</bouton>
                            </span>
                        </div>
                        <span class="help-block" style="display: none;" th:id="#{'error_'+${file}}">Error</span>
                        <div class="progress" style="display: none;" th:id="#{'progress_'+${file}}">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>0%</span>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="row">
                        <div class="col-md-12 form-actions right">
                            <input type="submit" id="back" name="_eventId_back" th:value="#{btn.back}" class="btn default"/>
                            <input type="submit" id="continue" name="_eventId_submit" th:value="#{btn.next}" class="btn blue"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>