<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/frontend/index">
<head>
    <title>Inscription</title>

</head>
<body>



<th:block layout:fragment="addition-css">
    <link href="../../../../../../../common-resources/src/main/resources/static/static/assets/global/plugins/fancybox/source/jquery.fancybox.css"
          th:href="@{/static/assets/global/plugins/fancybox/source/jquery.fancybox.css}"
          rel="stylesheet" />

    <link href="../../../../../../../common-resources/src/main/resources/static/static/assets/global/plugins/uniform/css/uniform.default.css"
          th:href="@{/static/assets/global/plugins/uniform/css/uniform.default.css}"
          rel="stylesheet" type="text/css" />
</th:block>

<th:block layout:fragment="content">
    <div th:substituteby="enroll/agency/fragment/breadcrumb(active=${activeId})"></div>
    <div class="container margin-bottom-40">
        <div class="row">
            <h1 th:text="#{enroll.agency.breadcrumb.title}">Inscription d'une agence</h1>
            <div class="login-signup-page form">
                <form id="formAttachmentInfo" th:action="${flowExecutionUrl}" method="post" class="form-horizontal" role="form" autocomplete="off">
                    <div class="form-body">
                    <h2 th:utext="#{${'enroll.'+state.registration+'.attachement.title'}}">Text explicatif : A rédiger</h2>
                    <p th:utext="#{${'enroll.'+state.registration+'.attachement.explain'}}">Text explicatif : A rédiger</p>

                    <div class="form-group" th:each="file,fileStat : ${files}" th:id="#{'container_'+${file}}">
                        <label th:for="${file}" th:inline="text" >[[#{'file.'+${file}}]]<span th:if="${#lists.contains(requiredFiles, file)}">*</span></label>
                        <div class="input-group">

                            <span class="input-group-addon" th:if="${#strings.isEmpty(filesStatus[__${file}__]) == false}"  th:id="#{'status_'+${file}}"><span class="glyphicon glyphicon-ok"></span></span>
                            <span class="input-group-addon" th:if="${#strings.isEmpty(filesStatus[__${file}__]) == true}" th:id="#{'status_'+${file}}"><span class="glyphicon glyphicon-remove"></span></span>

                            <span class="form-control" th:id="#{'indicate_'+${file}}" th:text="${filesStatus[__${file}__]}"></span>
                            <span class="input-group-btn">
                                <bouton class="btn btn-default" th:id="#{'pickup_'+${file}}">Selectionner un fichier</bouton>
                            </span>
                        </div>
                        <span class="help-block" style="display: none;" th:id="#{'error_'+${file}}">Error</span>
                        <div class="progress" style="display: none;" th:id="#{'progress_'+${file}}">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                <span>0%</span>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </div>

                    <div class="form-actions ">
                        <div class="pull-right">
                            <input type="submit" id="back" name="_eventId_back" th:value="#{btn.back}" class="btn default"/>
                            <input type="submit" id="continue" name="_eventId_submit" th:value="#{btn.next}" class="btn blue"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="page-slider"></th:block>
<th:block layout:fragment="service-box"></th:block>
<th:block layout:fragment="quote-v1"></th:block>
<th:block layout:fragment="recent-work"></th:block>
<th:block layout:fragment="mix-block"></th:block>
<th:block layout:fragment="step"></th:block>
<th:block layout:fragment="customer"></th:block>


<th:block layout:fragment="page-js">

    <script type="text/javascript" th:src="@{/resources/dojo/dojo.js}"></script>
    <script type="text/javascript" th:src="@{/resources/spring/Spring.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/Spring-Dojo-bootstrap.js}"></script>



    <script th:src="@{/static/assets/global/plugins/plupload/js/plupload.full.min.js}" src="../../../../../../../common-resources/src/main/resources/static/static/assets/global/plugins/plupload/js/plupload.full.min.js" type="text/javascript"/>
    <script th:src="@{/static/assets/global/plugins/plupload/js/i18n/fr.js}" src="../../../../../../../common-resources/src/main/resources/static/static/assets/global/plugins/plupload/js/i18n/fr.js" type="text/javascript"/>

    <script th:src="@{/static/js/addonf/attachement.js}" src="../../../static/static/js/addonf/attachement.js" type="text/javascript"/>


    <script src="../../../../../../../common-resources/src/main/resources/static/static/assets/global/plugins/uniform/jquery.uniform.min.js"
            th:src="@{/static/assets/global/plugins/uniform/jquery.uniform.min.js}"
            type="text/javascript" ></script>

    <script src="../../../../../../../common-resources/src/main/resources/static/static/assets/frontend/layout/scripts/layout.js"
            th:src="@{/static/assets/frontend/layout/scripts/layout.js}"
            type="text/javascript"></script>

    <script type="text/javascript" th:inline="javascript">
        $(function(){
            Metronic.init();
            Layout.init();
            Layout.initUniform();

            Spring.addDecoration(
                    new Spring.AjaxEventDecoration({formId:'formAttachmentInfo',elementId:'continue',event:'onclick'}));
            Spring.addDecoration(
                    new Spring.AjaxEventDecoration({formId:'formAttachmentInfo',elementId:'back',event:'onclick'}));


            var options = {
                files : [[${files}]],
                strStatusPresent : [[#{'status.file.PRESENT'}]],
                strStatusNoPresent : [[#{'status.file.NO_PRESENT'}]],
                flash_swf_url : [[@{/static/lib/plupload/js/Moxie.swf}]],
                silverlight_xap_url : [[@{/static/lib/plupload/js/Moxie.xap}]],
                url : [[@{/uploadAttachement/_fileId(_csrf=${_csrf.token})}]],
                errors : {
                    "format":[[#{'error.file.format'}]],
                            "size":[[#{'error.file.size'}]]
                }
            };

            new Addonf.Enroll.attachement(options);

        });
    </script>
</th:block>

</body>
</html>