<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/no-carrousel-1-col">
<head>
    <title>AdLoveYou</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row margin-bottom-40">
        <div class="col-md-12">
            <h1>Listes des achats à crédit de Ad</h1>
            <div class="content-page">
                <h4>Vous n'avez aucun achats à crédit de Ad</h4>
            </div>
        </div>
    </div>

</div>

</body>
</html>