<html xmlns:th="http://www.thymeleaf.org">
    <body>

    <br/>
    <a href="#/search" th:text="#{manage.goosegame.link.back}">Retour</a>
    <br/>

    <div class="container">
        <br/>
        <div class="panel panel-default">
            <div class="panel-heading" th:text="#{manage.goosegame.title.create}">Créer un nouveau niveau</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="level" th:text="#{manage.goosegame.form.level}" >numéro du niveau</label>
                        <input type="text" class="form-control" id="level" th:placeholder="#{manage.goosegame.placeholder.level}" ng-model="level"/>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="multiple"/><span th:text="#{manage.goosegame.form.multiple}">jeu multiple</span>
                        </label>
                    </div>

                    <div class="form-group" ng-show="multiple">
                        <label class="col-sm-2 control-label" for="strong" th:text="#{manage.goosegame.form.strong}" >Force</label>
                        <input type="text" class="form-control" id="strong" th:placeholder="#{manage.goosegame.placeholder.strong}" ng-model="strong"/>
                    </div>

                    <div class="form-group" ng-show="multiple">
                        <label class="col-sm-2 control-label" for="minAmount" th:text="#{manage.goosegame.form.minAmount}" >Montant min.</label>
                        <input type="text" class="form-control" id="minAmount" th:placeholder="#{manage.goosegame.placeholder.minAmount}" ng-model="minAmount"/>
                    </div>


                    <div class="form-group" ng-show="!multiple">
                        <label class="col-sm-2 control-label" for="nbCase" th:text="#{manage.goosegame.form.nbCase}" >Nombre de case</label>
                        <input type="text" class="form-control" id="nbCase" th:placeholder="#{manage.goosegame.placeholder.nbCase}" ng-model="nbCase"/>
                    </div>


                    <button type="button" class="btn btn-default" th:text="#{manage.goosegame.form.btn.create}" ng-click="create()">Créer</button>
                </form>
            </div>
        </div>
    </div>


    <div class="container">
        <br/>
        <div th:text="#{manage.goosegame.create.result}">Résultat :</div>
        <br/>
        <div class="row" ng-repeat="ligne in result.matrice">
            <div class="col-md-1"  ng-repeat="colonne in ligne">
                <div ng-if="colonne.type != -1">
                    <img ng-src="{{base}}img/goose/{{colonne.type}}.png"/>
                    <a style="position: absolute; top: 40px;left: 5px;z-index: 11;" class="dropdown-toggle">{{colonne.number}}</a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="choice in items">
                            <a ng-click="change(choice.value)">{{choice.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

