<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/logged"
        ng-app="manageAdsApp">
<head>
    <title>AdbeBack</title>

    <script th:inline="javascript">
            var addonf = {};
            addonf.base = [[@{/}]];
            addonf.token = [[${_csrf.token}]];
            addonf.config = {
                dateFormat: "dd/MM/yyyy"
            };
    </script>

    <script th:src="@{/static/lib/angular/angular.js}"></script>
    <script th:src="@{/static/lib/angular/angular-animate.js}"></script>
    <script th:src="@{/static/lib/angular/angular-resource.js}"></script>
    <script th:src="@{/static/lib/angular/angular-route.js}"></script>

    <script th:src="@{/static/lib/chosen/chosen.jquery.min.js}"></script>
    <script th:src="@{/static/lib/angular-file-upload.js}"></script>

    <script th:src="@{/static/lib/angular-bootstrap/ui-bootstrap-tpls.min.js}"></script>

    <script th:src="@{/static/js/application/manageAds.js}"></script>
    <script th:src="@{/static/js/directive/directives.js}"></script>
    <script th:src="@{/static/js/controller/manageAds-controllers.js}"></script>
    <script th:src="@{/static/js/service/manageAds-services.js}"></script>
    <script th:src="@{/static/js/service/campaign-services.js}"></script>
    <script th:src="@{/static/js/service/services.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/chosen/chosen.css}" />
</head>


<body>
<div layout:fragment="menu">
    <div th:substituteby="layout/fragment/menu(activeFirstMenu=${'ads'},activeSecondMenu=${'create'})"></div>
</div>

<h4 class="innerAll bg-white margin-none" layout:fragment="formTile" th:text="#{addonf.create.ad}">

</h4>

<div layout:fragment="content" class="col-app">
    <ng-view></ng-view>
</div>

</body>
</html>