<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/frontend/index">
<head>
    <title>Finalisation d'inscription</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>Finalisation de votre inscritpion</h1>
            </div>
        </div>
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
         <div class="row">
            Merci d'avoir finaliser votre inscription au service AdBeBack.<br/><br/>
            Si vous aviez rensigné des utilisateur durant l'inscription, ceux-ci vont recevoir d'ici quelques instance un email lors permettant de valider leur
            inscription et de choisir leurs mots de passe.
        </div>
    </div>
    <!-- END CONTAINER -->
    </th:block>


    <th:block layout:fragment="page-slider"></th:block>
    <th:block layout:fragment="service-box"></th:block>
    <th:block layout:fragment="quote-v1"></th:block>
    <th:block layout:fragment="recent-work"></th:block>
    <th:block layout:fragment="mix-block"></th:block>
    <th:block layout:fragment="step"></th:block>
    <th:block layout:fragment="customer"></th:block>


    <th:block layout:fragment="page-js">

        <script type="text/javascript">
            $(function(){
                Metronic.init();
                Layout.init();
            });
        </script>



    </th:block>
</body>
</html>