<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/frontend/index">
<head>
    <title>Finalisation d'inscription</title>
</head>
<body>
<th:block layout:fragment="content">

    <div class="row breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="col-md-4 col-sm-4">
                <h1>Finalisation de votre inscritpion</h1>
            </div>
        </div>
    </div>

    <div class="container margin-bottom-40">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 login-signup-page">
                <form id="formAdminInfo" method="post" class="form-horizontal" role="form" th:object="${userAgencyConfirmCommand}" autocomplete="off">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <h2>Création de votre compte utilisateur adbeback</h2>
                    <p>
                        <ul>
                            <li>Pour finaliser votre inscrition vos devez choir votre mot de passe. Votre identifiant de connection est l'email sur lequel vos avez reçu l'email de confirmation.</li>
                            <li>Le mot de passe doit être fort : il doit avoir 8 caractères alphanumériques minimun, contenir au moins une majuscule, une minuscule et un caractère spéciale</li>
                        </ul>

                    </p>

                    <div class="form-group">
                        <label for="email" class=" control-label" th:text="#{enroll.company.identifiant}">Votre identifiant</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}" readonly="readonly"/>
                    </div>

                    <div th:class="${#fields.hasErrors('password')}? 'form-group has-error':'form-group'">
                        <label for="password" class=" control-label" th:text="#{enroll.company.password}">Mot de passe</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" th:placeholder="#{enroll.company.password.placeholder}" th:field="*{password}" />
                        <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
                    </div>

                    <div th:class="${#fields.hasErrors('passwordConfirm')}? 'form-group has-error':'form-group'">
                        <label for="passwordConfirm" class=" control-label" th:text="#{enroll.company.passwordConfirm}">Confirmer le mot de passe</label>
                        <input type="password" class="form-control" id="passwordConfirm" placeholder="Password" th:placeholder="#{enroll.company.password.placeholder}" th:field="*{passwordConfirm}" />
                        <span class="help-block" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Error</span>
                    </div>


                    <div class="row">
                        <div class="col-md-12 form-actions right">
                            <input type="submit" id="submit" value="Continuer" class="btn blue"/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    </th:block>


    <th:block layout:fragment="page-slider"></th:block>
    <th:block layout:fragment="service-box"></th:block>
    <th:block layout:fragment="quote-v1"></th:block>
    <th:block layout:fragment="recent-work"></th:block>
    <th:block layout:fragment="mix-block"></th:block>
    <th:block layout:fragment="step"></th:block>
    <th:block layout:fragment="customer"></th:block>


    <th:block layout:fragment="page-js">

        <script type="text/javascript">
            $(function(){
                Metronic.init();
                Layout.init();
            });
        </script>



    </th:block>
</body>
</html>