<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/home_layout">
<head>
<title th:text="${title}">Title</title>

</head>


<body>
    <div layout:fragment="content" id="content">

    <div class="parallax" id="slide1" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="text-white bg-primary">Free musics download</h1>
                    <h2>Just Get ready to play and win</h2>
                    <div class="block">
                        <p>
                            <ul>
                                <li>Choose 1 music</li>
                                <li>Play</li>
                                <li>Download</li>
                            </ul>

                        </p>
                    </div>
                    <div class="block text-center">
                        <a href="catalog.html?lang=en" class="btn btn-lg btn-primary">Explanation</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="owl-featured" class="owl-carousel owl-theme">

                        <div class="item">
                            <div class="widget widget-pinterest">
                                <div class="mark text-center">
                                    <span class="caret caret-primary"></span>
                                    <span class="text">Sale</span>
                                </div>
                                <div class="widget-body padding-none">
                                    <a href="product.html?lang=en" class="thumb">
                                        <img src="../assets/images/shop/photodune-4524631-long-wavy-hair-s.jpg" alt="photo" class="img-responsive" />
                                    </a>
                                    <div class="description">
                                        <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                        <h5 class="text-uppercase">Product name</h5>
                                        <span class="text-primary text-medium text-condensed">&euro;216.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="widget widget-pinterest">
                                <div class="mark text-center">
                                    <span class="caret caret-default"></span>
                                    <span class="text">Sale</span>
                                </div>
                                <div class="widget-body padding-none">
                                    <a href="product.html?lang=en" class="thumb">
                                        <img src="../assets/images/shop/photodune-4532250-long-wavy-hair-s.jpg" alt="photo" class="img-responsive" />
                                    </a>
                                    <div class="description">
                                        <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                        <h5 class="text-uppercase">Product name</h5>
                                        <span class="text-primary text-medium text-condensed">&euro;121.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="widget widget-pinterest">
                                <div class="mark text-center">
                                    <span class="caret caret-default"></span>
                                    <span class="text">Sale</span>
                                </div>
                                <div class="widget-body padding-none">
                                    <a href="product.html?lang=en" class="thumb">
                                        <img src="../assets/images/shop/photodune-4138999-woman-with-open-lips-in-black-hat-on-dark-background-s.jpg" alt="photo" class="img-responsive" />
                                    </a>
                                    <div class="description">
                                        <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                        <h5 class="text-uppercase">Product name</h5>
                                        <span class="text-primary text-medium text-condensed">&euro;299.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="widget widget-pinterest">
                                <div class="mark text-center">
                                    <span class="caret caret-default"></span>
                                    <span class="text">Sale</span>
                                </div>
                                <div class="widget-body padding-none">
                                    <a href="product.html?lang=en" class="thumb">
                                        <img src="../assets/images/shop/photodune-4473192-long-wavy-hair-s.jpg" alt="photo" class="img-responsive" />
                                    </a>
                                    <div class="description">
                                        <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                        <h5 class="text-uppercase">Product name</h5>
                                        <span class="text-primary text-medium text-condensed">&euro;143.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="widget widget-pinterest">
                                <div class="mark text-center">
                                    <span class="caret caret-default"></span>
                                    <span class="text">Sale</span>
                                </div>
                                <div class="widget-body padding-none">
                                    <a href="product.html?lang=en" class="thumb">
                                        <img src="../assets/images/shop/photodune-4473191-long-wavy-hair-s.jpg" alt="photo" class="img-responsive" />
                                    </a>
                                    <div class="description">
                                        <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                        <h5 class="text-uppercase">Product name</h5>
                                        <span class="text-primary text-medium text-condensed">&euro;280.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="widget widget-pinterest">
                                <div class="mark text-center">
                                    <span class="caret caret-default"></span>
                                    <span class="text">Sale</span>
                                </div>
                                <div class="widget-body padding-none">
                                    <a href="product.html?lang=en" class="thumb">
                                        <img src="../assets/images/shop/photodune-4524609-long-wavy-hair-s.jpg" alt="photo" class="img-responsive" />
                                    </a>
                                    <div class="description">
                                        <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                        <h5 class="text-uppercase">Product name</h5>
                                        <span class="text-primary text-medium text-condensed">&euro;231.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row innerTB">
            <div class="col-md-9">
                <h5 class="text-faded margin-none">Featured products</h5>
                <div class="row">

                    <div class="col-sm-4 col-xs-6">
                        <div class="widget widget-pinterest" data-animate="bounceIn" data-delay="200">
                            <div class="mark">
                                <span class="caret caret-default"></span>
                                <span class="text">Sale</span>
                            </div>
                            <div class="widget-body padding-none">
                                <a href="product.html?lang=en" class="thumb"><img src="../assets/images/fashion/female/1.jpg" alt="" class="img-responsive" /></a>
                                <div class="description">
                                    <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                    <h5 class="text-uppercase">Product name</h5>
                                    <span class="text-primary text-medium text-condensed">&euro;259.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="widget widget-pinterest" data-animate="bounceIn" data-delay="400">
                            <div class="mark">
                                <span class="caret caret-default"></span>
                                <span class="text">Sale</span>
                            </div>
                            <div class="widget-body padding-none">
                                <a href="product.html?lang=en" class="thumb"><img src="../assets/images/fashion/female/2.jpg" alt="" class="img-responsive" /></a>
                                <div class="description">
                                    <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                    <h5 class="text-uppercase">Product name</h5>
                                    <span class="text-primary text-medium text-condensed">&euro;270.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="widget widget-pinterest" data-animate="bounceIn" data-delay="600">
                            <div class="mark">
                                <span class="caret caret-default"></span>
                                <span class="text">Sale</span>
                            </div>
                            <div class="widget-body padding-none">
                                <a href="product.html?lang=en" class="thumb"><img src="../assets/images/fashion/female/3.jpg" alt="" class="img-responsive" /></a>
                                <div class="description">
                                    <a href="cart.html?lang=en" class="btn btn-primary btn-circle pull-right"><i class="fa fa-shopping-cart"></i></a>
                                    <h5 class="text-uppercase">Product name</h5>
                                    <span class="text-primary text-medium text-condensed">&euro;291.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" data-animate="fadeInRight" data-delay="800">
                <div class="innerT">
                    <h5 class="text-faded">Browse categories</h5>
                    <div><ul class="list-group list-group-front">
                        <li class="list-group-item active"><a href="catalog.html?lang=en"><i class="fa fa-female"></i> Woman</a></li>
                        <li class="list-group-item"><a href="catalog.html?lang=en"><span class="badge pull-right badge-primary hidden-md">13</span><i class="fa fa-male"></i> Man</a></li>
                        <li class="list-group-item"><a href="catalog.html?lang=en"><span class="badge pull-right badge-primary hidden-md">2</span><i class="fa fa-magic"></i> Accesories</a></li>
                        <li class="list-group-item"><a href="catalog.html?lang=en"><span class="badge pull-right badge-primary hidden-md">2</span><i class="fa fa-pencil"></i> Shoes</a></li>
                        <li class="list-group-item"><a href="catalog.html?lang=en"><span class="badge pull-right badge-primary hidden-md">13</span><i class="fa fa-refresh"></i> Kids</a></li>
                        <li class="list-group-item"><a href="catalog.html?lang=en"><span class="badge pull-right badge-primary hidden-md">13</span><i class="fa fa-refresh"></i> Outlet</a></li>
                        <li class="list-group-item"><a href="catalog.html?lang=en"><span class="badge pull-right badge-primary hidden-md">13</span><i class="fa fa-refresh"></i> Stores</a></li>
                    </ul>


                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Product" />
		<span class="input-group-btn">
			<a href="#" class="btn btn-default"><i class="fa fa-search"></i></a>
		</span>
                </div>
            </div>



        </div>
    </div>

    <div class="bg-gray border-top border-bottom innerTB inner-2x">
        <div class="container innerTB inner-2x">
            <div class="testimonials" data-animate="bounceIn">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media">
                                        <a class="pull-left image-holder" href="#">
                                            <img class="media-object"  src="../assets/images/people/250/16.jpg" width="100"  alt="..." />
                                        </a>
                                        <div class="caret"></div>
                                        <div class="media-body">

                                            <div class="well">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, velit vero exercitationem expedita sint veniam autem. Maiores, adipisci sit sint voluptas nemo ducimus optio corporis saepe similique atque inventore consectetur.</p>
                                                <i class="fa fa-user"></i> by <a href="">Adrian</a> <i class="fa fa-file-text"></i> on <a href="">Coral Admin </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <a class="pull-left image-holder" href="#">
                                            <img class="media-object"  src="../assets/images/people/250/11.jpg" width="100"  alt="..." />
                                        </a>
                                        <div class="caret"></div>
                                        <div class="media-body">

                                            <div class="well">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, velit vero exercitationem expedita sint veniam autem. Maiores, adipisci sit sint voluptas nemo ducimus optio corporis saepe similique atque inventore consectetur.</p>
                                                <i class="fa fa-user"></i> by <a href="">Joanne</a> <i class="fa fa-file-text"></i> on <a href="">Coral Admin </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media">
                                        <a class="pull-left image-holder" href="#">
                                            <img class="media-object"  src="../assets/images/people/250/5.jpg"  width="100" alt="..." />
                                        </a>
                                        <div class="caret"></div>
                                        <div class="media-body">

                                            <div class="well">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, velit vero exercitationem expedita sint veniam autem. Maiores, adipisci sit sint voluptas nemo ducimus optio corporis saepe similique atque inventore consectetur.</p>
                                                <i class="fa fa-user"></i> by <a href="">Adrian</a> <i class="fa fa-file-text"></i> on <a href="">Coral Admin </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <a class="pull-left image-holder" href="#">
                                            <img class="media-object"  src="../assets/images/people/250/18.jpg" width="100"  alt="..." />
                                        </a>
                                        <div class="caret"></div>
                                        <div class="media-body">

                                            <div class="well">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, velit vero exercitationem expedita sint veniam autem. Maiores, adipisci sit sint voluptas nemo ducimus optio corporis saepe similique atque inventore consectetur.</p>
                                                <i class="fa fa-user"></i> by <a href="">Joanne</a> <i class="fa fa-file-text"></i> on <a href="">Coral Admin </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media">
                                        <a class="pull-left image-holder" href="#">
                                            <img class="media-object"  src="../assets/images/people/250/4.jpg"  width="100" alt="..." />
                                        </a>
                                        <div class="caret"></div>
                                        <div class="media-body">

                                            <div class="well">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, velit vero exercitationem expedita sint veniam autem. Maiores, adipisci sit sint voluptas nemo ducimus optio corporis saepe similique atque inventore consectetur.</p>
                                                <i class="fa fa-user"></i> by <a href="">Joanne</a> <i class="fa fa-file-text"></i> on <a href="">Coral Admin </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <a class="pull-left image-holder" href="#">
                                            <img class="media-object"  src="../assets/images/people/250/17.jpg" width="100"  alt="..." />
                                        </a>
                                        <div class="caret"></div>
                                        <div class="media-body">

                                            <div class="well">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, velit vero exercitationem expedita sint veniam autem. Maiores, adipisci sit sint voluptas nemo ducimus optio corporis saepe similique atque inventore consectetur.</p>
                                                <i class="fa fa-user"></i> by <a href="">Adrian</a> <i class="fa fa-file-text"></i> on <a href="">Coral Admin </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="innerTB inner-2x">
        <div class="container innerTB inner-2x">
            <div class="row">
                <div class="col-md-3">

                    <div data-animate="bounceIn" data-delay="0">
                        <div class="innerAll text-center">
                            <a href="">
                                <img data-src="holder.js/180x180/primary" alt="50x50" class="img-rounded" />
                            </a>
                        </div>
                        <div class="innerAll text-center">
                            <p class="strong margin-none">Company, Inc</p>
                            <p>Woman Collection</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div data-animate="bounceIn" data-delay="200">
                        <div class="innerAll text-center">
                            <a href="">
                                <img data-src="holder.js/180x180/primary" alt="50x50" class="img-rounded" />
                            </a>
                        </div>
                        <div class="innerAll text-center">
                            <p class="strong margin-none">Company, Inc</p>
                            <p>Man Collection</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div data-animate="bounceIn" data-delay="400">
                        <div class="innerAll text-center">
                            <a href="">
                                <img data-src="holder.js/180x180/primary" alt="50x50" class="img-rounded" />
                            </a>
                        </div>
                        <div class="innerAll text-center">
                            <p class="strong margin-none">Company, Inc</p>
                            <p>Accesories Collection</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">

                    <div data-animate="bounceIn" data-delay="600">
                        <div class="innerAll text-center">
                            <a href="">
                                <img data-src="holder.js/180x180/primary" alt="50x50" class="img-rounded" />
                            </a>
                        </div>
                        <div class="innerAll text-center">
                            <p class="strong margin-none">Company, Inc</p>
                            <p>Shoes Collection</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>





    <div class="bg-inverse innerTB inner-2x">
        <div class="container innerTB inner-2x text-center" data-animate="fadeInUp" data-delay="200">
            <h2 class="text-white">Sign up for Newsletter</h2>
            <div class="separator bottom"></div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Your email address" />
                        <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax bg-gray innerTB inner-2x">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center innerAll inner-2x" data-animate="fadeInLeft" data-delay="200">
                        <h2>Catalog</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="cart.html?lang=en">Woman Top Sellers</a></li>
                            <li><a href="catalog.html?lang=en">New Products for Men</a></li>
                            <li><a href="catalog.html?lang=en">Top Accesories</a></li>
                            <li><a href="catalog.html?lang=en">Special Shoes</a></li>
                            <li><a href="catalog.html?lang=en">Just for Kids</a></li>
                            <li><a href="catalog.html?lang=en">Outlet Sale Specials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center innerAll inner-2x" data-animate="fadeInUp" data-delay="300">
                        <h2>My Account</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Woman Top Sellers</a></li>
                            <li><a href="">New Products for Men</a></li>
                            <li><a href="">Top Accesories</a></li>
                            <li><a href="">Special Shoes</a></li>
                            <li><a href="">Just for Kids</a></li>
                            <li><a href="">Outlet Sale Specials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center innerAll inner-2x" data-animate="fadeInUp" data-delay="350">
                        <h2>Support</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Woman Top Sellers</a></li>
                            <li><a href="">New Products for Men</a></li>
                            <li><a href="">Top Accesories</a></li>
                        </ul>
                    </div>
                    <div class="text-center innerAll inner-2x" data-animate="fadeInUp" data-delay="400">
                        <p class="margin-none lead text-center">
                            <i class="fa fa-2x text-faded fa-phone"></i><br/>1-800-MY-SHOP
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-center innerAll inner-2x" data-animate="fadeInRight" data-delay="200">
                        <div class="lead innerAll text-center">
                            <i class="fa fa-5x text-faded fa-map-marker"></i>
                            <div class="separator"></div>
                            <p class="lead strong">Coral Shop, Inc</p>
                            1 Infinite Loop Cupertino, CA 95014
                            USA
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
</html>
