<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/home_layout">
<head layout:fragment="customHead">
    <title>MTZik</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>

    <link th:href="@{/img/favicon.png}" rel="icon" />


    <link rel="stylesheet" th:href="@{/coral/assets/components/library/jquery-ui/css/jquery-ui.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/home.css}"/>

    <script th:src="@{/coral/assets/components/library/jquery/jquery.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/jquery-ui/js/jquery-ui.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/jquery/jquery-migrate.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/modernizr/modernizr.js}"></script>
    <script th:src="@{/coral/assets/components/plugins/less-js/less.min.js}"></script>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js}"></script>
    <script th:src="@{/coral/assets/components/plugins/browser/ie/ie.prototype.polyfill.js}"></script>


    <script th:inline="javascript">
        var addonf = {};
        addonf.base = [[@{/}]];
            addonf.static = [[${staticUrl}]];
            addonf.token = [[${_csrf.token}]];
    </script>

    <script src="audio.js" th:src="@{/js/addonf/audio.js}"></script>
    <script src="login.js" th:src="@{/js/addonf/login.js}"></script>
    <script src="audio.js" th:src="@{/js/addonf/search.js}"></script>

    <style type="text/css">
        .ui-front{
            z-index: 1500;
        }
    </style>

</head>


<body>
    <div layout:fragment="content" id="content">
    <div class="parallax" id="slide1" data-stellar-background-ratio="0.5" th:substituteby="/layout/fragment/push"></div>

    <div class="container">
        <div class="row innerTB">
            <div class="col-md-9">
                <h5 class="text-faded margin-none" th:text="#{addonf.best.download}">Best download</h5>
                <div class="row">

                    <div class="col-sm-4 col-xs-6" th:each="best : ${bests}">
                        <div class="widget widget-pinterest" data-animate="bounceIn" data-delay="200">
                            <div class="mark">
                                <span class="caret caret-default"></span>
                                <span class="text" th:text="#{addonf.slider.best}">New</span>
                            </div>
                            <div class="widget-body padding-none">
                                <a th:href="@{/product.html(musicId=${best.id})}" class="thumb">
                                    <img th:src="@{${staticUrl}+'jacket/'+${best.jacket}}" alt="Jacket" class="img-responsive" />
                                </a>
                                <div class="description">
                                    <a href="#" class="btn btn-primary btn-circle pull-right addToCart" th:attr="data-music=${best.id}"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle pull-right playMusic" th:attr="data-music=${best.id}" style="margin-right: 2px;"><i class="fa fa fa-play"></i></a>
                                    <h5 class="text-uppercase" th:text="${best.title}" style="height:3em">Product name</h5>
                                    <span class="text-primary text-medium text-condensed"  th:text="#{addonf.price(${best.nbAdsNeeded})}" >&euro;216.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:substituteby="/layout/fragment/categories"></div>

        </div>
    </div>

</div>


    <div layout:fragment="customJsInclude">
        <!-- Global -->
        <script>
            var basePath = '',
                    commonPath = '../assets/',
                    rootPath = '../',
                    DEV = false,
                    componentsPath = '../assets/components/';

            var primaryColor = '#eb6a5a',
                    dangerColor = '#b55151',
                    successColor = '#609450',
                    warningColor = '#ab7a4b',
                    inverseColor = '#45484d';

            var themerPrimaryColor = primaryColor;
        </script>



        <script th:src="@{/coral/assets/components/library/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/coral/assets/components/modules/shop/core/js/shop.animations.init.js}"></script>
        <script th:src="@{/coral/assets/components/plugins/owl-carousel/owl.carousel.min.js}"></script>
        <script th:src="@{/coral/assets/components/modules/shop/owl-carousel/featured/front.shop.owl-carousel.featured.js}"></script>
        <script th:src="@{/coral/assets/components/plugins/holder/holder.js}"></script>
        <script th:src="@{/coral/assets/components/plugins/parallax/stellar/jquery.stellar.min.js}"></script>
        <script th:src="@{/coral/assets/components/plugins/parallax/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/coral/assets/components/plugins/parallax/parallax/parallax.init.js}"></script>
        <script th:src="@{/coral/assets/components/plugins/appear/jquery.appear.js}"></script>
        <script th:src="@{/coral/assets/components/modules/front/core/assets/js/front.core.init.js}"></script>
    </div>
</body>
</html>
