<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/home_layout">
<head>
<title th:text="${title}">Title</title>

</head>


<body>
    <div layout:fragment="content" id="content">
    <div class="parallax" id="slide1" data-stellar-background-ratio="0.5" th:substituteby="/layout/fragment/push"></div>

    <div class="container">
        <div class="row innerTB">
            <div class="col-md-9">
                <h5 class="text-faded margin-none" th:text="#{addonf.best.download}">Best download</h5>
                <div class="row">

                    <div class="col-sm-4 col-xs-6" th:each="best : ${bests}">
                        <div class="widget widget-pinterest" data-animate="bounceIn" data-delay="200">
                            <div class="mark">
                                <span class="caret caret-default"></span>
                                <span class="text" th:text="#{addonf.slider.best}">New</span>
                            </div>
                            <div class="widget-body padding-none">
                                <a th:href="@{/product.html(musicId=${best.id})}" class="thumb">
                                    <img th:src="@{${staticUrl}+'static/jacket/'+${best.jacket}}" alt="Jacket" class="img-responsive" />
                                </a>
                                <div class="description">
                                    <a href="#" class="btn btn-primary btn-circle pull-right addToCart" th:attr="data-music=${best.id}"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="#" class="btn btn-primary btn-circle pull-right playMusic" th:attr="data-music=${best.id}" style="margin-right: 2px;"><i class="fa fa fa-play"></i></a>
                                    <h5 class="text-uppercase" th:text="${best.title}" style="height:3em">Product name</h5>
                                    <span class="text-primary text-medium text-condensed"  th:text="#{addonf.price(${best.nbAdsNeeded})}" >&euro;216.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" data-animate="fadeInRight" data-delay="800">
                <div class="innerT">
                    <h5 class="text-faded" th:text="#{addonf.browse.categories}">Browse categories</h5>
                    <div>
                        <ul class="list-group list-group-front">
                            <li class="list-group-item" th:each="category : ${categories}"><a th:href="@{/byGenre.html(genreId=${category.id})}"><span th:text="#{'addonf.reference.'+${category.codeGenre}}">Catégorie</span></a></li>
                        </ul>


                    </div>
                </div>
                <div class="input-group">
                    <input id="searchMusicInput" type="text" class="form-control" th:placeholder="#{addonf.home.search.btn}" />
                    <span class="input-group-btn">
                        <a href="#" class="btn btn-default searchBtn"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>



        </div>
    </div>

</div>
</body>
</html>
