<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <title>Layout</title>



      <link rel="stylesheet" th:href="@{/lib/bootstrap-3.0.2/css/bootstrap.css}" href="/lib/bootstrap-3.0.2/css/bootstrap.css"/>
      <link rel="stylesheet" th:href="@{/lib/bootstrap-3.0.2/css/bootstrap-theme.css}" href="/lib/bootstrap-3.0.2/css/bootstrap-theme.css"/>
      <link rel="stylesheet" th:href="@{/css/justified-nav.css}" href="/css/justified-nav.css"/>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="//code.jquery.com/jquery.js" th:src="@{/lib/jquery-2.0.3/jquery-min.js}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="lib/bootstrap-3.0.2/js/bootstrap.min.js" th:src="@{/lib/bootstrap-3.0.2/js/bootstrap.min.js}"></script>



  </head>
  <body>
  <div class="main">
      <div class="container">

          <div class="masthead">
              <h3 class="text-muted">A2onf</h3>
<!--              <ul class="nav nav-justified">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Downloads</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
              </ul>-->
          </div>

          <div style="margin-top: 40px;">
              <div class="container" layout:fragment="content">
                  Fake
              </div>
          </div>


          <!-- Site footer -->
          <div class="footer">
              <p>&copy; AdBeBack 2013</p>
          </div>

      </div>


  </div>
  </body>
</html>
