<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/home_layout"
      ng-app="registrationApp">
<head>
    <title th:text="${title}">Enregistrement</title>

    <script src="lib/angular-1.2.0/angular.js" th:src="@{/lib/angular-1.2.0/angular.js}"></script>
    <script src="lib/angular-1.2.0/angular-animate.js" th:src="@{/lib/angular-1.2.0/angular-animate.js}"></script>
    <script src="lib/angular-1.2.0/angular-resource.js" th:src="@{/lib/angular-1.2.0/angular-resource.js}"></script>
    <script src="lib/angular-1.2.0/angular-route.js" th:src="@{/lib/angular-1.2.0/angular-route.js}"></script>

    <script th:src="@{/lib/ui-bootstrap-0.9.0/ui-bootstrap-tpls-0.9.0.js}"></script>

    <script src="js/controller/registration-controllers.js" th:src="@{/js/controller/registration-controllers.js}"></script>

</head>


<body>
    <div layout:fragment="content"  ng-controller="registrationCtrl">

        <div class="container"><!-- row-app -->
            <div class="row">

                <!-- col -->


                <!-- col-separator.box -->
                <div class="col-separator col-unscrollable box">

                    <!-- col-table -->
                    <div class="col-table">

                        <h4 class="innerAll margin-none border-bottom text-center bg-primary"><i class="fa fa-pencil"></i> Create a new Account</h4>

                        <!-- col-table-row -->
                        <div class="col-table-row">

                            <!-- col-app -->
                            <div class="col-app col-unscrollable">

                                <!-- col-app -->
                                <div class="col-app animated fadeInDown">

                                    <div class="login">

                                        <div class="placeholder text-center"><i class="fa fa-pencil"></i></div>

                                        <div class="panel panel-default col-sm-6 col-sm-offset-3">

                                            <div class="panel-body">
                                                <form role="form" th:action="@{/signup}" method="post" th:object="${player}">
                                                    <div class="form-group" th:class="${#fields.hasErrors('username')}? 'has-error form-group' :'form-group'" >
                                                        <label for="pseudo" class="control-label">Pseudo</label>
                                                        <input type="text" class="form-control" id="pseudo" placeholder="Votre pseudo" th:field="*{username}" />
                                                    </div>

                                                    <div class="form-group" th:class="${#fields.hasErrors('password')}? 'has-error form-group' :'form-group'" >
                                                        <label for="passwd" class="control-label">Mot de passe</label>
                                                         <input type="password" class="form-control" id="passwd" placeholder="Votre mot de passe" th:field="*{password}" />
                                                    </div>


                                                    <div class="form-group" th:class="${#fields.hasErrors('email')}? 'has-error form-group' :'form-group'" >
                                                        <label for="email" class="control-label">Email</label>
                                                         <input type="email" class="form-control" id="email" placeholder="Votre E-mail" th:field="*{email}" />
                                                    </div>


                                                    <div class="form-group" th:class="${#fields.hasErrors('sex')}? 'has-error form-group' :'form-group'" >
                                                        <label for="civility" class="control-label">Civilité</label>
                                                            <select class="form-control" id="civility" th:field="*{sex}">
                                                                <option th:each="civility : ${civilities}" th:text="#{${civility}}" th:value="${civility}">...</option>
                                                            </select>
                                                    </div>


                                                    <div class="form-group" th:class="${#fields.hasErrors('birthday')}? 'has-error form-group' :'form-group'" >
                                                        <label for="birthdate" class="control-label">Date de naissance</label>
                                                            <input id="birthdate" type="text"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   ng-model="dt"
                                                                   is-open="opened"
                                                                   th:field="*{birthday}"
                                                                   ng-required="true"
                                                                   class="form-control"
                                                                    />
                                                    </div>
                                                    <input type="hidden"
                                                           th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                    <button class="btn btn-primary btn-block" type="submit">S'enregistrer</button>
                                                </form>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>

                                    </div>

                                </div>
                                <!-- // END col-app -->

                            </div>
                            <!-- // END col-app.col-unscrollable -->

                        </div>
                        <!-- // END col-table-row -->

                    </div>
                    <!-- // END col-table -->

                </div>
                <!-- // END col-separator.box -->


            </div>
            <!-- // END row-app -->



            <!-- Global -->
            <script>
                var basePath = '',
                        commonPath = '../assets/',
                        rootPath = '../',
                        DEV = false,
                        componentsPath = '../assets/components/';

                var primaryColor = '#eb6a5a',
                        dangerColor = '#b55151',
                        successColor = '#609450',
                        infoColor = '#4a8bc2',
                        warningColor = '#ab7a4b',
                        inverseColor = '#45484d';

                var themerPrimaryColor = primaryColor;
            </script>

            <script src="../assets/components/library/bootstrap/js/bootstrap.min.js"></script>
            <script src="../assets/components/plugins/nicescroll/jquery.nicescroll.min.js"></script>
            <script src="../assets/components/plugins/breakpoints/breakpoints.js"></script>
            <script src="../assets/components/core/js/animations.init.js"></script>
            <script src="../assets/components/core/js/core.init.js"></script>

        </div>



<!--
        <h1>Enregistrement</h1>
        <form class="form-horizontal" role="form" th:action="@{/signup}" method="post" th:object="${player}">

            <div class="form-group" th:class="${#fields.hasErrors('username')}? 'has-error' :''" >
                <label for="pseudo" class="col-sm-2 control-label">Pseudo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="pseudo" placeholder="Votre pseudo" th:field="*{username}" />
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('password')}? 'has-error' :''" >
                <label for="passwd" class="col-sm-2 control-label">Mot de passe</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="passwd" placeholder="Votre mot de passe" th:field="*{password}" />
                </div>
            </div>


            <div class="form-group" th:class="${#fields.hasErrors('email')}? 'has-error' :''" >
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Votre E-mail" th:field="*{email}" />
                </div>
            </div>


            <div class="form-group" th:class="${#fields.hasErrors('sex')}? 'has-error' :''" >
                <label for="civility" class="col-sm-2 control-label">Civilité</label>
                <div class="col-sm-10">
                    <select class="form-control" id="civility" th:field="*{sex}">
                        <option th:each="civility : ${civilities}" th:text="#{${civility}}" th:value="${civility}">...</option>
                    </select>
                </div>
            </div>


            <div class="form-group" th:class="${#fields.hasErrors('birthday')}? 'has-error' :''" >
                <label for="birthdate" class="col-sm-2 control-label">Date de naissance</label>
                <div class="col-sm-10" >
                    <input id="birthdate" type="text"
                           datepicker-popup="dd/MM/yyyy"
                           ng-model="dt"
                           is-open="opened"
                           th:field="*{birthday}"
                           ng-required="true"
                            />
                </div>
            </div>







            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">S'enregistrer</button>
                    <input type="hidden"
                           th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </div>
            </div>
        </form>-->





    </div>




</body>
</html>
