<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/home_layout"
      ng-app="adgameApp">>
<head layout:fragment="customHead">

    <title>MTZik</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>

    <link th:href="@{/img/favicon.png}" rel="icon" />

    <link rel="stylesheet" th:href="@{/coral/assets/components/library/jquery-ui/css/jquery-ui.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/cart.css}"/>


    <script th:src="@{/coral/assets/components/library/jquery/jquery.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/jquery-ui/js/jquery-ui.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/jquery/jquery-migrate.min.js}"></script>
    <script th:src="@{/coral/assets/components/library/modernizr/modernizr.js}"></script>
    <script th:src="@{/coral/assets/components/plugins/less-js/less.min.js}"></script>
    <script th:src="@{/coral/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js}"></script>
    <script th:src="@{/coral/assets/components/plugins/browser/ie/ie.prototype.polyfill.js}"></script>
    <script th:src="@{/coral/assets/components/library/jquery-ui/js/jquery-ui.min.js}"></script>
    <script th:src="@{/coral/assets/components/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js}"></script>


    <script th:inline="javascript">
        var addonf = {};
        addonf.base = [[@{/}]];
            addonf.static = [[${session.staticUrl}]];
            addonf.token = [[${_csrf.token}]];
    </script>

    <script src="audio.js" th:src="@{/js/addonf/audio.js}"></script>
    <script src="login.js" th:src="@{/js/addonf/login.js}"></script>
    <script src="audio.js" th:src="@{/js/addonf/search.js}"></script>

    <script src="jquery.fullscreen.js" th:src="@{/js/external/jquery.fullscreen.js}"></script>
    <script src="play.js" th:src="@{/js/addonf/play.js}"></script>


    <style type="text/css">
        .ui-front{
            z-index: 1500;
        }
    </style>
</head>


<body>
    <div layout:fragment="content" id="content">
        <div class="container innerTB inner-2x">
            <h2 class="margin-none" th:utext="#{addonf.checkout.title}">Checkout <i class="fa fa-fw fa-credit-card"></i></h2>
        </div>


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box-generic padding-none">
                    <h4 class="innerAll border-bottom margin-none" th:text="#{addonf.checkout.signup.title}">Checkout as a guest or register</h4>
                    <div class="innerAll inner-2x border-bottom text-center">
                        <form th:action="@{/signup}" >
                            <button type="submit" class="btn btn-primary btn-sm" th:text="#{addonf.checkout.signup.btn}">Signup</button>
                        </form>
                    </div>
                    <div class="innerAll inner-2x">
                        <p th:text="#{addonf.checkout.enroll.why}">Register with us and get:</p>
                        <ul class="fa-ul">
                            <li th:utext="#{addonf.checkout.ask.only.username}"><i class="fa fa-li fa-check text-primary"></i> Easy checkout process</li>
                            <li th:utext="#{addonf.checkout.ask.only.bithdate}"><i class="fa fa-li fa-check text-primary"></i> Real time delivery tracking</li>
                            <li th:utext="#{addonf.checkout.ask.only.zipcode}"><i class="fa fa-li fa-check text-primary"></i> Fast access to your order history</li>
                            <li th:utext="#{addonf.checkout.ask.only.email}"><i class="fa fa-li fa-check text-primary"></i> Fast access to your order history</li>
                            <li th:utext="#{addonf.checkout.ask.only.password}"><i class="fa fa-li fa-check text-primary"></i> Fast access to your order history</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-generic padding-none">
                    <h4 class="innerAll border-bottom margin-none" th:text="#{addonf.checkout.login.title}">Login</h4>
                    <form action="#" class="margin-none" id="login-4-game">
                        <div class="innerAll bg-gray border-bottom">
                            <p class="margin-none" th:text="#{addonf.checkout.can.signin.below}">Already a member? Sign in below.</p>
                        </div>
                        <div class="innerAll inner-2x border-bottom">
                            <div class="form-group has-error" id="error-login" style="display: none;">
                                <p class="has-error help-block" th:text="#{addonf.checkout.login.error}">Error login</p>
                            </div>
                            <div class="form-group">
                                <label for="login" th:text="#{addonf.checkout.login}" class="control-label">Your email or Username</label>
                                <input name="username" id="login" type="text" th:placeholder="#{addonf.checkout.username.placeholder}" placeholder="Type your username" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password" th:text="#{addonf.checkout.pwd}" class="control-label">Your Password</label>
                                <input name="password" id="password" type="password" th:placeholder="#{addonf.checkout.password.placeholder}" placeholder="Type your password" class="form-control"/>
                            </div>
                        </div>
                        <div class="innerAll">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <a  id="login-4-game-btn" class="btn btn-primary btn-sm" th:text="#{addonf.checkout.login.btn}">Login</a>
                            &nbsp; <a th:href="@{/forgottenPwd.html}" th:text="#{addonf.checkout.forgotten.pwd}">Forgot password</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-generic padding-none">
                    <h4 class="innerAll border-bottom margin-none" th:text="#{addonf.checkout.need.help}">Need Help?</h4>
                    <div class="innerAll inner-2x">
                        <div class="lead innerAll text-center">
                            <i class="fa fa-5x text-faded fa-question"></i>
                            <div class="separator"></div>
                            <p class="lead strong">
                                <span th:utext="#{addonf.checkout.faq.see}">See</span> <a  th:href="@{/faq}" th:text="#{addonf.checkout.faq}" class="text-primary">FAQ</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray border-top innerTB inner-2x">
        <div class="container innerTB inner-2x">
            <!-- Row -->
            <div class="row">

                <!-- Column -->
                <div class="col-md-6">
                </div>
                <!-- Column END -->

                <!-- Column -->
                <div class="col-md-3">
                </div>
                <!-- // Column END -->

                <div class="col-md-3">
                    <div class="box-generic padding-none text-center">
                        <p class="lead margin-none strong innerAll border-bottom" th:utext="#{addonf.cart.total(${session.cart.minScore})}">Total: &euro;1,195.95</p>
                        <div class="innerAll">
                            <a th:href="@{/cart.html}" class="btn btn-block btn-primary" th:utext="#{addonf.checkout.goCart}"><i class="fa fa-fw fa-edit"></i> Change your order</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- // Row END -->
        </div>
    </div>

    </div>


    <div layout:fragment="customJsInclude">
        <!-- Global -->
        <script>
            var basePath = '',
                    commonPath = '../assets/',
                    rootPath = '../',
                    DEV = false,
                    componentsPath = '../assets/components/';

            var primaryColor = '#eb6a5a',
                    dangerColor = '#b55151',
                    successColor = '#609450',
                    warningColor = '#ab7a4b',
                    inverseColor = '#45484d';

            var themerPrimaryColor = primaryColor;
        </script>


        <script th:src="@{/coral/assets/components/library/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/coral/assets/components/modules/shop/core/js/shop.animations.init.js}"></script>
        <script th:src="@{/coral/assets/components/modules/admin/forms/elements/uniform/assets/lib/js/jquery.uniform.min.js}"></script>
        <script th:src="@{/coral/assets/components/modules/admin/forms/elements/uniform/assets/custom/js/uniform.init.js}"></script>
        <script th:src="@{/coral/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js}"></script>
        <script th:src="@{/coral/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js}"></script>
        <script th:src="@{/coral/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js}"></script>
        <script th:src="@{/coral/assets/components/modules/front/core/assets/js/front.core.init.js}"></script>
    </div>
</body>
</html>
