<!DOCTYPE html>
<html
       xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/home_layout">
<head>

</head>


<body>
    <div layout:fragment="content" id="content">

         <div th:if="${nosearch == true}" class="container">
             <h5 class="text-faded"  th:utext="#{addonf.search.no.query}">No query</h5>
         </div>

        <div th:if="${nosearch ==false}" class="container">
            <h3 th:utext="#{addonf.search.for(${query})}"></h3>
            <div th:replace="/layout/fragment/artists"></div>
            <div class="separator"></div>
            <div th:replace="/layout/fragment/productors"></div>
            <div class="separator"></div>
            <div th:replace="/layout/fragment/musics"></div>
        </div>

    </div>
</body>
</html>
